body {
  margin:0px;
  background-color:rgba(152, 207, 240, 0.52156862745098);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:193px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-23px;
  width:200px;
  height:193px;
  display:flex;
}
#u285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u285_img.mouseOver {
}
#u285.mouseOver {
  opacity:0.7;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:433px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:192px;
  width:577px;
  height:433px;
  display:flex;
}
#u286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u286_img.mouseOver {
}
#u286.mouseOver {
  opacity:0.6;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:68px;
  width:570px;
  height:108px;
  display:flex;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:7px;
  width:193px;
  height:91px;
  display:flex;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
}
#u289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u289_img.mouseOver {
}
#u289.mouseOver {
  opacity:0.7;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:178px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:585px;
  width:155px;
  height:178px;
  display:flex;
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u290_img.mouseOver {
}
#u290.mouseOver {
  opacity:0.7;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:215px;
  width:99px;
  height:379px;
  display:flex;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:413px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:664px;
  width:387px;
  height:99px;
  display:flex;
}
#u293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:508px;
  width:79px;
  height:79px;
  display:flex;
}
#u297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u297_img.mouseOver {
}
#u297.mouseOver {
  opacity:0.7;
}
#u297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
}
#u298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u298_img.mouseOver {
}
#u298.mouseOver {
  opacity:0.7;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:116px;
  width:140px;
  height:51px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:317px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:221px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
}
#u302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u302_img.mouseOver {
}
#u302.mouseOver {
  opacity:0.7;
}
#u302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:287px;
  width:118px;
  height:118px;
  display:flex;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u303_img.mouseOver {
}
#u303.mouseOver {
  opacity:0.7;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:118px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:135px;
  width:637px;
  height:118px;
  display:flex;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(152, 207, 240, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u285.a {
}
#u285_img.a {
}
#u285.a {
}
#u285_img.a.mouseOver {
}
#u285.a.mouseOver {
}
#u285_text.a {
}
#u285 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u286.a {
}
#u286_img.a {
}
#u286.a {
}
#u286_img.a.mouseOver {
}
#u286.a.mouseOver {
}
#u286_text.a {
}
#u286 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u287.a {
}
#u287_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u287.a {
}
#u287_text.a {
}
#u287 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u288.a {
}
#u288_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288.a {
}
#u288_text.a {
}
#u288 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u289.a {
}
#u289_img.a {
}
#u289.a {
}
#u289_img.a.mouseOver {
}
#u289.a.mouseOver {
}
#u289_text.a {
}
#u289 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u290.a {
}
#u290_img.a {
}
#u290.a {
}
#u290_img.a.mouseOver {
}
#u290.a.mouseOver {
}
#u290_text.a {
}
#u290 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u291.a {
}
#u291_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291.a {
}
#u291_text.a {
}
#u291 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u292.a {
}
#u292_img.a {
}
#u292.a {
}
#u292_text.a {
}
#u292 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u293.a {
}
#u293_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293.a {
}
#u293_text.a {
}
#u293 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u294.a {
}
#u294_img.a {
}
#u294.a {
}
#u294_text.a {
}
#u294 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u295.a {
}
#u295_img.a {
}
#u295.a {
}
#u295_text.a {
}
#u295 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u296.a {
}
#u296_img.a {
}
#u296.a {
}
#u296_text.a {
}
#u296 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u297.a {
}
#u297_img.a {
}
#u297.a {
}
#u297_img.a.mouseOver {
}
#u297.a.mouseOver {
}
#u297_text.a {
}
#u297 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u298.a {
}
#u298_img.a {
}
#u298.a {
}
#u298_img.a.mouseOver {
}
#u298.a.mouseOver {
}
#u298_text.a {
}
#u298 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u299.a {
}
#u299_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u299.a {
}
#u299_text.a {
}
#u299 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u300.a {
}
#u300_img.a {
}
#u300.a {
}
#u300_text.a {
}
#u300 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u301.a {
}
#u301_img.a {
}
#u301.a {
}
#u301_text.a {
}
#u301 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u302.a {
}
#u302_img.a {
}
#u302.a {
}
#u302_img.a.mouseOver {
}
#u302.a.mouseOver {
}
#u302_text.a {
}
#u302 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u303.a {
}
#u303_img.a {
}
#u303.a {
}
#u303_img.a.mouseOver {
}
#u303.a.mouseOver {
}
#u303_text.a {
}
#u303 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u304.a {
}
#u304_img.a {
}
#u304.a {
}
#u304_text.a {
}
#u304 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.b {  background-color:rgba(152, 207, 240, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u285.b {
}
#u285_img.b {
}
#u285.b {
}
#u285_img.b.mouseOver {
}
#u285.b.mouseOver {
}
#u285_text.b {
}
#u285 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u286.b {
}
#u286_img.b {
}
#u286.b {
}
#u286_img.b.mouseOver {
}
#u286.b.mouseOver {
}
#u286_text.b {
}
#u286 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u287.b {
}
#u287_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u287.b {
}
#u287_text.b {
}
#u287 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u288.b {
}
#u288_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288.b {
}
#u288_text.b {
}
#u288 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u289.b {
}
#u289_img.b {
}
#u289.b {
}
#u289_img.b.mouseOver {
}
#u289.b.mouseOver {
}
#u289_text.b {
}
#u289 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u290.b {
}
#u290_img.b {
}
#u290.b {
}
#u290_img.b.mouseOver {
}
#u290.b.mouseOver {
}
#u290_text.b {
}
#u290 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u291.b {
}
#u291_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291.b {
}
#u291_text.b {
}
#u291 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u292.b {
}
#u292_img.b {
}
#u292.b {
}
#u292_text.b {
}
#u292 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u293.b {
}
#u293_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293.b {
}
#u293_text.b {
}
#u293 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u294.b {
}
#u294_img.b {
}
#u294.b {
}
#u294_text.b {
}
#u294 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u295.b {
}
#u295_img.b {
}
#u295.b {
}
#u295_text.b {
}
#u295 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u296.b {
}
#u296_img.b {
}
#u296.b {
}
#u296_text.b {
}
#u296 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u297.b {
}
#u297_img.b {
}
#u297.b {
}
#u297_img.b.mouseOver {
}
#u297.b.mouseOver {
}
#u297_text.b {
}
#u297 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u298.b {
}
#u298_img.b {
}
#u298.b {
}
#u298_img.b.mouseOver {
}
#u298.b.mouseOver {
}
#u298_text.b {
}
#u298 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u299.b {
}
#u299_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u299.b {
}
#u299_text.b {
}
#u299 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u300.b {
}
#u300_img.b {
}
#u300.b {
}
#u300_text.b {
}
#u300 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u301.b {
}
#u301_img.b {
}
#u301.b {
}
#u301_text.b {
}
#u301 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u302.b {
}
#u302_img.b {
}
#u302.b {
}
#u302_img.b.mouseOver {
}
#u302.b.mouseOver {
}
#u302_text.b {
}
#u302 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u303.b {
}
#u303_img.b {
}
#u303.b {
}
#u303_img.b.mouseOver {
}
#u303.b.mouseOver {
}
#u303_text.b {
}
#u303 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u304.b {
}
#u304_img.b {
}
#u304.b {
}
#u304_text.b {
}
#u304 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.c {  background-color:rgba(152, 207, 240, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u285.c {
}
#u285_img.c {
}
#u285.c {
}
#u285_img.c.mouseOver {
}
#u285.c.mouseOver {
}
#u285_text.c {
}
#u285 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u286.c {
}
#u286_img.c {
}
#u286.c {
}
#u286_img.c.mouseOver {
}
#u286.c.mouseOver {
}
#u286_text.c {
}
#u286 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u287.c {
}
#u287_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u287.c {
}
#u287_text.c {
}
#u287 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u288.c {
}
#u288_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288.c {
}
#u288_text.c {
}
#u288 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u289.c {
}
#u289_img.c {
}
#u289.c {
}
#u289_img.c.mouseOver {
}
#u289.c.mouseOver {
}
#u289_text.c {
}
#u289 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u290.c {
}
#u290_img.c {
}
#u290.c {
}
#u290_img.c.mouseOver {
}
#u290.c.mouseOver {
}
#u290_text.c {
}
#u290 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u291.c {
}
#u291_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291.c {
}
#u291_text.c {
}
#u291 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u292.c {
}
#u292_img.c {
}
#u292.c {
}
#u292_text.c {
}
#u292 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u293.c {
}
#u293_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293.c {
}
#u293_text.c {
}
#u293 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u294.c {
}
#u294_img.c {
}
#u294.c {
}
#u294_text.c {
}
#u294 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u295.c {
}
#u295_img.c {
}
#u295.c {
}
#u295_text.c {
}
#u295 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u296.c {
}
#u296_img.c {
}
#u296.c {
}
#u296_text.c {
}
#u296 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u297.c {
}
#u297_img.c {
}
#u297.c {
}
#u297_img.c.mouseOver {
}
#u297.c.mouseOver {
}
#u297_text.c {
}
#u297 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u298.c {
}
#u298_img.c {
}
#u298.c {
}
#u298_img.c.mouseOver {
}
#u298.c.mouseOver {
}
#u298_text.c {
}
#u298 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u299.c {
}
#u299_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u299.c {
}
#u299_text.c {
}
#u299 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u300.c {
}
#u300_img.c {
}
#u300.c {
}
#u300_text.c {
}
#u300 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u301.c {
}
#u301_img.c {
}
#u301.c {
}
#u301_text.c {
}
#u301 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u302.c {
}
#u302_img.c {
}
#u302.c {
}
#u302_img.c.mouseOver {
}
#u302.c.mouseOver {
}
#u302_text.c {
}
#u302 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u303.c {
}
#u303_img.c {
}
#u303.c {
}
#u303_img.c.mouseOver {
}
#u303.c.mouseOver {
}
#u303_text.c {
}
#u303 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u304.c {
}
#u304_img.c {
}
#u304.c {
}
#u304_text.c {
}
#u304 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.d {  background-color:rgba(152, 207, 240, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u285.d {
}
#u285_img.d {
}
#u285.d {
}
#u285_img.d.mouseOver {
}
#u285.d.mouseOver {
}
#u285_text.d {
}
#u285 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u286.d {
}
#u286_img.d {
}
#u286.d {
}
#u286_img.d.mouseOver {
}
#u286.d.mouseOver {
}
#u286_text.d {
}
#u286 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u287.d {
}
#u287_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u287.d {
}
#u287_text.d {
}
#u287 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u288.d {
}
#u288_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288.d {
}
#u288_text.d {
}
#u288 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u289.d {
}
#u289_img.d {
}
#u289.d {
}
#u289_img.d.mouseOver {
}
#u289.d.mouseOver {
}
#u289_text.d {
}
#u289 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u290.d {
}
#u290_img.d {
}
#u290.d {
}
#u290_img.d.mouseOver {
}
#u290.d.mouseOver {
}
#u290_text.d {
}
#u290 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u291.d {
}
#u291_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291.d {
}
#u291_text.d {
}
#u291 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u292.d {
}
#u292_img.d {
}
#u292.d {
}
#u292_text.d {
}
#u292 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u293.d {
}
#u293_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293.d {
}
#u293_text.d {
}
#u293 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u294.d {
}
#u294_img.d {
}
#u294.d {
}
#u294_text.d {
}
#u294 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u295.d {
}
#u295_img.d {
}
#u295.d {
}
#u295_text.d {
}
#u295 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u296.d {
}
#u296_img.d {
}
#u296.d {
}
#u296_text.d {
}
#u296 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u297.d {
}
#u297_img.d {
}
#u297.d {
}
#u297_img.d.mouseOver {
}
#u297.d.mouseOver {
}
#u297_text.d {
}
#u297 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u298.d {
}
#u298_img.d {
}
#u298.d {
}
#u298_img.d.mouseOver {
}
#u298.d.mouseOver {
}
#u298_text.d {
}
#u298 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u299.d {
}
#u299_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u299.d {
}
#u299_text.d {
}
#u299 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u300.d {
}
#u300_img.d {
}
#u300.d {
}
#u300_text.d {
}
#u300 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u301.d {
}
#u301_img.d {
}
#u301.d {
}
#u301_text.d {
}
#u301 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u302.d {
}
#u302_img.d {
}
#u302.d {
}
#u302_img.d.mouseOver {
}
#u302.d.mouseOver {
}
#u302_text.d {
}
#u302 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u303.d {
}
#u303_img.d {
}
#u303.d {
}
#u303_img.d.mouseOver {
}
#u303.d.mouseOver {
}
#u303_text.d {
}
#u303 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u304.d {
}
#u304_img.d {
}
#u304.d {
}
#u304_text.d {
}
#u304 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.e {  background-color:rgba(152, 207, 240, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u285.e {
}
#u285_img.e {
}
#u285.e {
}
#u285_img.e.mouseOver {
}
#u285.e.mouseOver {
}
#u285_text.e {
}
#u285 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u286.e {
}
#u286_img.e {
}
#u286.e {
}
#u286_img.e.mouseOver {
}
#u286.e.mouseOver {
}
#u286_text.e {
}
#u286 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u287.e {
}
#u287_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u287.e {
}
#u287_text.e {
}
#u287 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u288.e {
}
#u288_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288.e {
}
#u288_text.e {
}
#u288 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u289.e {
}
#u289_img.e {
}
#u289.e {
}
#u289_img.e.mouseOver {
}
#u289.e.mouseOver {
}
#u289_text.e {
}
#u289 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u290.e {
}
#u290_img.e {
}
#u290.e {
}
#u290_img.e.mouseOver {
}
#u290.e.mouseOver {
}
#u290_text.e {
}
#u290 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u291.e {
}
#u291_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291.e {
}
#u291_text.e {
}
#u291 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u292.e {
}
#u292_img.e {
}
#u292.e {
}
#u292_text.e {
}
#u292 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u293.e {
}
#u293_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293.e {
}
#u293_text.e {
}
#u293 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u294.e {
}
#u294_img.e {
}
#u294.e {
}
#u294_text.e {
}
#u294 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u295.e {
}
#u295_img.e {
}
#u295.e {
}
#u295_text.e {
}
#u295 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u296.e {
}
#u296_img.e {
}
#u296.e {
}
#u296_text.e {
}
#u296 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u297.e {
}
#u297_img.e {
}
#u297.e {
}
#u297_img.e.mouseOver {
}
#u297.e.mouseOver {
}
#u297_text.e {
}
#u297 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u298.e {
}
#u298_img.e {
}
#u298.e {
}
#u298_img.e.mouseOver {
}
#u298.e.mouseOver {
}
#u298_text.e {
}
#u298 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u299.e {
}
#u299_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u299.e {
}
#u299_text.e {
}
#u299 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u300.e {
}
#u300_img.e {
}
#u300.e {
}
#u300_text.e {
}
#u300 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u301.e {
}
#u301_img.e {
}
#u301.e {
}
#u301_text.e {
}
#u301 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u302.e {
}
#u302_img.e {
}
#u302.e {
}
#u302_img.e.mouseOver {
}
#u302.e.mouseOver {
}
#u302_text.e {
}
#u302 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u303.e {
}
#u303_img.e {
}
#u303.e {
}
#u303_img.e.mouseOver {
}
#u303.e.mouseOver {
}
#u303_text.e {
}
#u303 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u304.e {
}
#u304_img.e {
}
#u304.e {
}
#u304_text.e {
}
#u304 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.f {  background-color:rgba(152, 207, 240, 0.52156862745098);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u285.f {
}
#u285_img.f {
}
#u285.f {
}
#u285_img.f.mouseOver {
}
#u285.f.mouseOver {
}
#u285_text.f {
}
#u285 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u286.f {
}
#u286_img.f {
}
#u286.f {
}
#u286_img.f.mouseOver {
}
#u286.f.mouseOver {
}
#u286_text.f {
}
#u286 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u287.f {
}
#u287_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u287.f {
}
#u287_text.f {
}
#u287 .text.f {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u288.f {
}
#u288_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288.f {
}
#u288_text.f {
}
#u288 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u289.f {
}
#u289_img.f {
}
#u289.f {
}
#u289_img.f.mouseOver {
}
#u289.f.mouseOver {
}
#u289_text.f {
}
#u289 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u290.f {
}
#u290_img.f {
}
#u290.f {
}
#u290_img.f.mouseOver {
}
#u290.f.mouseOver {
}
#u290_text.f {
}
#u290 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u291.f {
}
#u291_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291.f {
}
#u291_text.f {
}
#u291 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u292.f {
}
#u292_img.f {
}
#u292.f {
}
#u292_text.f {
}
#u292 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u293.f {
}
#u293_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293.f {
}
#u293_text.f {
}
#u293 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u294.f {
}
#u294_img.f {
}
#u294.f {
}
#u294_text.f {
}
#u294 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u295.f {
}
#u295_img.f {
}
#u295.f {
}
#u295_text.f {
}
#u295 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u296.f {
}
#u296_img.f {
}
#u296.f {
}
#u296_text.f {
}
#u296 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u297.f {
}
#u297_img.f {
}
#u297.f {
}
#u297_img.f.mouseOver {
}
#u297.f.mouseOver {
}
#u297_text.f {
}
#u297 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u298.f {
}
#u298_img.f {
}
#u298.f {
}
#u298_img.f.mouseOver {
}
#u298.f.mouseOver {
}
#u298_text.f {
}
#u298 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u299.f {
}
#u299_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u299.f {
}
#u299_text.f {
}
#u299 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u300.f {
}
#u300_img.f {
}
#u300.f {
}
#u300_text.f {
}
#u300 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u301.f {
}
#u301_img.f {
}
#u301.f {
}
#u301_text.f {
}
#u301 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u302.f {
}
#u302_img.f {
}
#u302.f {
}
#u302_img.f.mouseOver {
}
#u302.f.mouseOver {
}
#u302_text.f {
}
#u302 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u303.f {
}
#u303_img.f {
}
#u303.f {
}
#u303_img.f.mouseOver {
}
#u303.f.mouseOver {
}
#u303_text.f {
}
#u303 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u304.f {
}
#u304_img.f {
}
#u304.f {
}
#u304_text.f {
}
#u304 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
