body {
  margin:0px;
  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:643px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:60px;
  width:636px;
  height:643px;
  display:flex;
  opacity:0.6;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:317px;
  width:394px;
  height:170px;
  display:flex;
  opacity:0.6;
  font-size:40px;
  color:#000000;
}
#u482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:7px;
  width:193px;
  height:91px;
  display:flex;
  opacity:0.6;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:215px;
  width:99px;
  height:379px;
  display:flex;
  opacity:0.6;
}
#u484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:221px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:317px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:413px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:664px;
  width:387px;
  height:99px;
  display:flex;
  opacity:0.6;
}
#u488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:644px;
  width:287px;
  height:79px;
  display:flex;
  opacity:0.6;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:508px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:116px;
  width:140px;
  height:51px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
}
#u496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u496_img.mouseOver {
}
#u496.mouseOver {
  opacity:0.7;
}
#u496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:245px;
  width:468px;
  height:269px;
  display:flex;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:193px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-23px;
  width:200px;
  height:193px;
  display:flex;
  opacity:0.6;
}
#u498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u499_img.mouseOver {
}
#u499.mouseOver {
  opacity:0.7;
}
#u499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u481.a {
}
#u481_img.a {
}
#u481.a {
}
#u481_text.a {
}
#u481 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u482.a {
}
#u482_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u482.a {
}
#u482_text.a {
}
#u482 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u483.a {
}
#u483_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483.a {
}
#u483_text.a {
}
#u483 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u484.a {
}
#u484_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484.a {
}
#u484_text.a {
}
#u484 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u485.a {
}
#u485_img.a {
}
#u485.a {
}
#u485_text.a {
}
#u485 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u486.a {
}
#u486_img.a {
}
#u486.a {
}
#u486_text.a {
}
#u486 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u487.a {
}
#u487_img.a {
}
#u487.a {
}
#u487_text.a {
}
#u487 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u488.a {
}
#u488_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u488.a {
}
#u488_text.a {
}
#u488 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u489.a {
}
#u489_img.a {
}
#u489.a {
}
#u489_text.a {
}
#u489 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u490.a {
}
#u490_img.a {
}
#u490.a {
}
#u490_text.a {
}
#u490 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u491.a {
}
#u491_img.a {
}
#u491.a {
}
#u491_text.a {
}
#u491 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u492.a {
}
#u492_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u492.a {
}
#u492_text.a {
}
#u492 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u493.a {
}
#u493_img.a {
}
#u493.a {
}
#u493_text.a {
}
#u493 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u494.a {
}
#u494_img.a {
}
#u494.a {
}
#u494_text.a {
}
#u494 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u495.a {
}
#u495_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u495.a {
}
#u495_text.a {
}
#u495 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u496.a {
}
#u496_img.a {
}
#u496.a {
}
#u496_img.a.mouseOver {
}
#u496.a.mouseOver {
}
#u496_text.a {
}
#u496 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u497.a {
}
#u497_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u497.a {
}
#u497_text.a {
}
#u497 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u498.a {
}
#u498_img.a {
}
#u498.a {
}
#u498_text.a {
}
#u498 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u499.a {
}
#u499_img.a {
}
#u499.a {
}
#u499_img.a.mouseOver {
}
#u499.a.mouseOver {
}
#u499_text.a {
}
#u499 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.b {  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u481.b {
}
#u481_img.b {
}
#u481.b {
}
#u481_text.b {
}
#u481 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u482.b {
}
#u482_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u482.b {
}
#u482_text.b {
}
#u482 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u483.b {
}
#u483_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483.b {
}
#u483_text.b {
}
#u483 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u484.b {
}
#u484_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484.b {
}
#u484_text.b {
}
#u484 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u485.b {
}
#u485_img.b {
}
#u485.b {
}
#u485_text.b {
}
#u485 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u486.b {
}
#u486_img.b {
}
#u486.b {
}
#u486_text.b {
}
#u486 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u487.b {
}
#u487_img.b {
}
#u487.b {
}
#u487_text.b {
}
#u487 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u488.b {
}
#u488_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u488.b {
}
#u488_text.b {
}
#u488 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u489.b {
}
#u489_img.b {
}
#u489.b {
}
#u489_text.b {
}
#u489 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u490.b {
}
#u490_img.b {
}
#u490.b {
}
#u490_text.b {
}
#u490 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u491.b {
}
#u491_img.b {
}
#u491.b {
}
#u491_text.b {
}
#u491 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u492.b {
}
#u492_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u492.b {
}
#u492_text.b {
}
#u492 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u493.b {
}
#u493_img.b {
}
#u493.b {
}
#u493_text.b {
}
#u493 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u494.b {
}
#u494_img.b {
}
#u494.b {
}
#u494_text.b {
}
#u494 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u495.b {
}
#u495_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u495.b {
}
#u495_text.b {
}
#u495 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u496.b {
}
#u496_img.b {
}
#u496.b {
}
#u496_img.b.mouseOver {
}
#u496.b.mouseOver {
}
#u496_text.b {
}
#u496 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u497.b {
}
#u497_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u497.b {
}
#u497_text.b {
}
#u497 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u498.b {
}
#u498_img.b {
}
#u498.b {
}
#u498_text.b {
}
#u498 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u499.b {
}
#u499_img.b {
}
#u499.b {
}
#u499_img.b.mouseOver {
}
#u499.b.mouseOver {
}
#u499_text.b {
}
#u499 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.c {  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u481.c {
}
#u481_img.c {
}
#u481.c {
}
#u481_text.c {
}
#u481 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u482.c {
}
#u482_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u482.c {
}
#u482_text.c {
}
#u482 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u483.c {
}
#u483_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483.c {
}
#u483_text.c {
}
#u483 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u484.c {
}
#u484_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484.c {
}
#u484_text.c {
}
#u484 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u485.c {
}
#u485_img.c {
}
#u485.c {
}
#u485_text.c {
}
#u485 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u486.c {
}
#u486_img.c {
}
#u486.c {
}
#u486_text.c {
}
#u486 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u487.c {
}
#u487_img.c {
}
#u487.c {
}
#u487_text.c {
}
#u487 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u488.c {
}
#u488_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u488.c {
}
#u488_text.c {
}
#u488 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u489.c {
}
#u489_img.c {
}
#u489.c {
}
#u489_text.c {
}
#u489 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u490.c {
}
#u490_img.c {
}
#u490.c {
}
#u490_text.c {
}
#u490 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u491.c {
}
#u491_img.c {
}
#u491.c {
}
#u491_text.c {
}
#u491 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u492.c {
}
#u492_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u492.c {
}
#u492_text.c {
}
#u492 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u493.c {
}
#u493_img.c {
}
#u493.c {
}
#u493_text.c {
}
#u493 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u494.c {
}
#u494_img.c {
}
#u494.c {
}
#u494_text.c {
}
#u494 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u495.c {
}
#u495_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u495.c {
}
#u495_text.c {
}
#u495 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u496.c {
}
#u496_img.c {
}
#u496.c {
}
#u496_img.c.mouseOver {
}
#u496.c.mouseOver {
}
#u496_text.c {
}
#u496 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u497.c {
}
#u497_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u497.c {
}
#u497_text.c {
}
#u497 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u498.c {
}
#u498_img.c {
}
#u498.c {
}
#u498_text.c {
}
#u498 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u499.c {
}
#u499_img.c {
}
#u499.c {
}
#u499_img.c.mouseOver {
}
#u499.c.mouseOver {
}
#u499_text.c {
}
#u499 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.d {  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u481.d {
}
#u481_img.d {
}
#u481.d {
}
#u481_text.d {
}
#u481 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u482.d {
}
#u482_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u482.d {
}
#u482_text.d {
}
#u482 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u483.d {
}
#u483_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483.d {
}
#u483_text.d {
}
#u483 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u484.d {
}
#u484_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484.d {
}
#u484_text.d {
}
#u484 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u485.d {
}
#u485_img.d {
}
#u485.d {
}
#u485_text.d {
}
#u485 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u486.d {
}
#u486_img.d {
}
#u486.d {
}
#u486_text.d {
}
#u486 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u487.d {
}
#u487_img.d {
}
#u487.d {
}
#u487_text.d {
}
#u487 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u488.d {
}
#u488_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u488.d {
}
#u488_text.d {
}
#u488 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u489.d {
}
#u489_img.d {
}
#u489.d {
}
#u489_text.d {
}
#u489 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u490.d {
}
#u490_img.d {
}
#u490.d {
}
#u490_text.d {
}
#u490 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u491.d {
}
#u491_img.d {
}
#u491.d {
}
#u491_text.d {
}
#u491 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u492.d {
}
#u492_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u492.d {
}
#u492_text.d {
}
#u492 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u493.d {
}
#u493_img.d {
}
#u493.d {
}
#u493_text.d {
}
#u493 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u494.d {
}
#u494_img.d {
}
#u494.d {
}
#u494_text.d {
}
#u494 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u495.d {
}
#u495_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u495.d {
}
#u495_text.d {
}
#u495 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u496.d {
}
#u496_img.d {
}
#u496.d {
}
#u496_img.d.mouseOver {
}
#u496.d.mouseOver {
}
#u496_text.d {
}
#u496 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u497.d {
}
#u497_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u497.d {
}
#u497_text.d {
}
#u497 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u498.d {
}
#u498_img.d {
}
#u498.d {
}
#u498_text.d {
}
#u498 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u499.d {
}
#u499_img.d {
}
#u499.d {
}
#u499_img.d.mouseOver {
}
#u499.d.mouseOver {
}
#u499_text.d {
}
#u499 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.e {  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u481.e {
}
#u481_img.e {
}
#u481.e {
}
#u481_text.e {
}
#u481 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u482.e {
}
#u482_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u482.e {
}
#u482_text.e {
}
#u482 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u483.e {
}
#u483_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483.e {
}
#u483_text.e {
}
#u483 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u484.e {
}
#u484_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484.e {
}
#u484_text.e {
}
#u484 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u485.e {
}
#u485_img.e {
}
#u485.e {
}
#u485_text.e {
}
#u485 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u486.e {
}
#u486_img.e {
}
#u486.e {
}
#u486_text.e {
}
#u486 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u487.e {
}
#u487_img.e {
}
#u487.e {
}
#u487_text.e {
}
#u487 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u488.e {
}
#u488_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u488.e {
}
#u488_text.e {
}
#u488 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u489.e {
}
#u489_img.e {
}
#u489.e {
}
#u489_text.e {
}
#u489 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u490.e {
}
#u490_img.e {
}
#u490.e {
}
#u490_text.e {
}
#u490 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u491.e {
}
#u491_img.e {
}
#u491.e {
}
#u491_text.e {
}
#u491 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u492.e {
}
#u492_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u492.e {
}
#u492_text.e {
}
#u492 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u493.e {
}
#u493_img.e {
}
#u493.e {
}
#u493_text.e {
}
#u493 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u494.e {
}
#u494_img.e {
}
#u494.e {
}
#u494_text.e {
}
#u494 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u495.e {
}
#u495_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u495.e {
}
#u495_text.e {
}
#u495 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u496.e {
}
#u496_img.e {
}
#u496.e {
}
#u496_img.e.mouseOver {
}
#u496.e.mouseOver {
}
#u496_text.e {
}
#u496 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u497.e {
}
#u497_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u497.e {
}
#u497_text.e {
}
#u497 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u498.e {
}
#u498_img.e {
}
#u498.e {
}
#u498_text.e {
}
#u498 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u499.e {
}
#u499_img.e {
}
#u499.e {
}
#u499_img.e.mouseOver {
}
#u499.e.mouseOver {
}
#u499_text.e {
}
#u499 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.f {  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u481.f {
}
#u481_img.f {
}
#u481.f {
}
#u481_text.f {
}
#u481 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u482.f {
}
#u482_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u482.f {
}
#u482_text.f {
}
#u482 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u483.f {
}
#u483_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483.f {
}
#u483_text.f {
}
#u483 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u484.f {
}
#u484_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484.f {
}
#u484_text.f {
}
#u484 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u485.f {
}
#u485_img.f {
}
#u485.f {
}
#u485_text.f {
}
#u485 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u486.f {
}
#u486_img.f {
}
#u486.f {
}
#u486_text.f {
}
#u486 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u487.f {
}
#u487_img.f {
}
#u487.f {
}
#u487_text.f {
}
#u487 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u488.f {
}
#u488_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u488.f {
}
#u488_text.f {
}
#u488 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u489.f {
}
#u489_img.f {
}
#u489.f {
}
#u489_text.f {
}
#u489 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u490.f {
}
#u490_img.f {
}
#u490.f {
}
#u490_text.f {
}
#u490 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u491.f {
}
#u491_img.f {
}
#u491.f {
}
#u491_text.f {
}
#u491 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u492.f {
}
#u492_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u492.f {
}
#u492_text.f {
}
#u492 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u493.f {
}
#u493_img.f {
}
#u493.f {
}
#u493_text.f {
}
#u493 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u494.f {
}
#u494_img.f {
}
#u494.f {
}
#u494_text.f {
}
#u494 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u495.f {
}
#u495_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u495.f {
}
#u495_text.f {
}
#u495 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u496.f {
}
#u496_img.f {
}
#u496.f {
}
#u496_img.f.mouseOver {
}
#u496.f.mouseOver {
}
#u496_text.f {
}
#u496 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u497.f {
}
#u497_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u497.f {
}
#u497_text.f {
}
#u497 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u498.f {
}
#u498_img.f {
}
#u498.f {
}
#u498_text.f {
}
#u498 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u499.f {
}
#u499_img.f {
}
#u499.f {
}
#u499_img.f.mouseOver {
}
#u499.f.mouseOver {
}
#u499_text.f {
}
#u499 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
