body {
  margin:0px;
  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:133px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:7px;
  width:359px;
  height:133px;
  display:flex;
  opacity:0.6;
  font-size:30px;
  color:#000000;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:193px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-23px;
  width:200px;
  height:193px;
  display:flex;
  opacity:0.6;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:114px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:7px;
  width:118px;
  height:114px;
  display:flex;
  opacity:0.6;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:113px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:57px;
  width:91px;
  height:113px;
  display:flex;
  opacity:0.6;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:208px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:177px;
  width:549px;
  height:208px;
  display:flex;
  opacity:0.6;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:189px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:356px;
  width:549px;
  height:189px;
  display:flex;
  opacity:0.6;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:205px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:537px;
  width:540px;
  height:205px;
  display:flex;
  opacity:0.6;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:178px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:585px;
  width:155px;
  height:178px;
  display:flex;
  opacity:0.6;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:7px;
  width:193px;
  height:91px;
  display:flex;
  opacity:0.6;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_img.mouseOver {
}
#u97.mouseOver {
  opacity:0.7;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:664px;
  width:387px;
  height:99px;
  display:flex;
  opacity:0.6;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:215px;
  width:99px;
  height:379px;
  display:flex;
  opacity:0.6;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:221px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:317px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:413px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:508px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 0.996078431372549);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:301px;
  width:468px;
  height:269px;
  display:flex;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:116px;
  width:140px;
  height:51px;
  display:flex;
  opacity:0.6;
  font-size:18px;
  color:#000000;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_img.mouseOver {
}
#u110.mouseOver {
  opacity:0.7;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u88.a {
}
#u88_img.a {
}
#u88.a {
}
#u88_text.a {
}
#u88 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u89.a {
}
#u89_img.a {
}
#u89.a {
}
#u89_text.a {
}
#u89 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u90.a {
}
#u90_img.a {
}
#u90.a {
}
#u90_text.a {
}
#u90 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u91.a {
}
#u91_img.a {
}
#u91.a {
}
#u91_text.a {
}
#u91 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u92.a {
}
#u92_img.a {
}
#u92.a {
}
#u92_text.a {
}
#u92 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.a {
}
#u93_img.a {
}
#u93.a {
}
#u93_text.a {
}
#u93 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u94.a {
}
#u94_img.a {
}
#u94.a {
}
#u94_text.a {
}
#u94 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u95.a {
}
#u95_img.a {
}
#u95.a {
}
#u95_text.a {
}
#u95 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.a {
}
#u96_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96.a {
}
#u96_text.a {
}
#u96 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u97.a {
}
#u97_img.a {
}
#u97.a {
}
#u97_img.a.mouseOver {
}
#u97.a.mouseOver {
}
#u97_text.a {
}
#u97 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u98.a {
}
#u98_img.a {
}
#u98.a {
}
#u98_text.a {
}
#u98 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.a {
}
#u99_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.a {
}
#u99_text.a {
}
#u99 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u100.a {
}
#u100_img.a {
}
#u100.a {
}
#u100_text.a {
}
#u100 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u101.a {
}
#u101_img.a {
}
#u101.a {
}
#u101_text.a {
}
#u101 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u102.a {
}
#u102_img.a {
}
#u102.a {
}
#u102_text.a {
}
#u102 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u103.a {
}
#u103_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103.a {
}
#u103_text.a {
}
#u103 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u104.a {
}
#u104_img.a {
}
#u104.a {
}
#u104_text.a {
}
#u104 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.a {
}
#u105_img.a {
}
#u105.a {
}
#u105_text.a {
}
#u105 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u106.a {
}
#u106_img.a {
}
#u106.a {
}
#u106_text.a {
}
#u106 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u107.a {
}
#u107_img.a {
}
#u107.a {
}
#u107_text.a {
}
#u107 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u108.a {
}
#u108_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 0.996078431372549);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u108.a {
}
#u108_text.a {
}
#u108 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u109.a {
}
#u109_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u109.a {
}
#u109_text.a {
}
#u109 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u110.a {
}
#u110_img.a {
}
#u110.a {
}
#u110_img.a.mouseOver {
}
#u110.a.mouseOver {
}
#u110_text.a {
}
#u110 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.b {  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u88.b {
}
#u88_img.b {
}
#u88.b {
}
#u88_text.b {
}
#u88 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u89.b {
}
#u89_img.b {
}
#u89.b {
}
#u89_text.b {
}
#u89 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u90.b {
}
#u90_img.b {
}
#u90.b {
}
#u90_text.b {
}
#u90 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u91.b {
}
#u91_img.b {
}
#u91.b {
}
#u91_text.b {
}
#u91 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u92.b {
}
#u92_img.b {
}
#u92.b {
}
#u92_text.b {
}
#u92 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.b {
}
#u93_img.b {
}
#u93.b {
}
#u93_text.b {
}
#u93 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u94.b {
}
#u94_img.b {
}
#u94.b {
}
#u94_text.b {
}
#u94 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u95.b {
}
#u95_img.b {
}
#u95.b {
}
#u95_text.b {
}
#u95 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.b {
}
#u96_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96.b {
}
#u96_text.b {
}
#u96 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u97.b {
}
#u97_img.b {
}
#u97.b {
}
#u97_img.b.mouseOver {
}
#u97.b.mouseOver {
}
#u97_text.b {
}
#u97 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u98.b {
}
#u98_img.b {
}
#u98.b {
}
#u98_text.b {
}
#u98 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.b {
}
#u99_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.b {
}
#u99_text.b {
}
#u99 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u100.b {
}
#u100_img.b {
}
#u100.b {
}
#u100_text.b {
}
#u100 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u101.b {
}
#u101_img.b {
}
#u101.b {
}
#u101_text.b {
}
#u101 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u102.b {
}
#u102_img.b {
}
#u102.b {
}
#u102_text.b {
}
#u102 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u103.b {
}
#u103_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103.b {
}
#u103_text.b {
}
#u103 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u104.b {
}
#u104_img.b {
}
#u104.b {
}
#u104_text.b {
}
#u104 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.b {
}
#u105_img.b {
}
#u105.b {
}
#u105_text.b {
}
#u105 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u106.b {
}
#u106_img.b {
}
#u106.b {
}
#u106_text.b {
}
#u106 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u107.b {
}
#u107_img.b {
}
#u107.b {
}
#u107_text.b {
}
#u107 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u108.b {
}
#u108_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 0.996078431372549);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u108.b {
}
#u108_text.b {
}
#u108 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u109.b {
}
#u109_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u109.b {
}
#u109_text.b {
}
#u109 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u110.b {
}
#u110_img.b {
}
#u110.b {
}
#u110_img.b.mouseOver {
}
#u110.b.mouseOver {
}
#u110_text.b {
}
#u110 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.c {  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u88.c {
}
#u88_img.c {
}
#u88.c {
}
#u88_text.c {
}
#u88 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u89.c {
}
#u89_img.c {
}
#u89.c {
}
#u89_text.c {
}
#u89 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u90.c {
}
#u90_img.c {
}
#u90.c {
}
#u90_text.c {
}
#u90 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u91.c {
}
#u91_img.c {
}
#u91.c {
}
#u91_text.c {
}
#u91 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u92.c {
}
#u92_img.c {
}
#u92.c {
}
#u92_text.c {
}
#u92 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.c {
}
#u93_img.c {
}
#u93.c {
}
#u93_text.c {
}
#u93 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u94.c {
}
#u94_img.c {
}
#u94.c {
}
#u94_text.c {
}
#u94 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u95.c {
}
#u95_img.c {
}
#u95.c {
}
#u95_text.c {
}
#u95 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.c {
}
#u96_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96.c {
}
#u96_text.c {
}
#u96 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u97.c {
}
#u97_img.c {
}
#u97.c {
}
#u97_img.c.mouseOver {
}
#u97.c.mouseOver {
}
#u97_text.c {
}
#u97 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u98.c {
}
#u98_img.c {
}
#u98.c {
}
#u98_text.c {
}
#u98 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.c {
}
#u99_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.c {
}
#u99_text.c {
}
#u99 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u100.c {
}
#u100_img.c {
}
#u100.c {
}
#u100_text.c {
}
#u100 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u101.c {
}
#u101_img.c {
}
#u101.c {
}
#u101_text.c {
}
#u101 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u102.c {
}
#u102_img.c {
}
#u102.c {
}
#u102_text.c {
}
#u102 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u103.c {
}
#u103_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103.c {
}
#u103_text.c {
}
#u103 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u104.c {
}
#u104_img.c {
}
#u104.c {
}
#u104_text.c {
}
#u104 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.c {
}
#u105_img.c {
}
#u105.c {
}
#u105_text.c {
}
#u105 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u106.c {
}
#u106_img.c {
}
#u106.c {
}
#u106_text.c {
}
#u106 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u107.c {
}
#u107_img.c {
}
#u107.c {
}
#u107_text.c {
}
#u107 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u108.c {
}
#u108_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 0.996078431372549);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u108.c {
}
#u108_text.c {
}
#u108 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u109.c {
}
#u109_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u109.c {
}
#u109_text.c {
}
#u109 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u110.c {
}
#u110_img.c {
}
#u110.c {
}
#u110_img.c.mouseOver {
}
#u110.c.mouseOver {
}
#u110_text.c {
}
#u110 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.d {  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u88.d {
}
#u88_img.d {
}
#u88.d {
}
#u88_text.d {
}
#u88 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u89.d {
}
#u89_img.d {
}
#u89.d {
}
#u89_text.d {
}
#u89 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u90.d {
}
#u90_img.d {
}
#u90.d {
}
#u90_text.d {
}
#u90 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u91.d {
}
#u91_img.d {
}
#u91.d {
}
#u91_text.d {
}
#u91 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u92.d {
}
#u92_img.d {
}
#u92.d {
}
#u92_text.d {
}
#u92 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.d {
}
#u93_img.d {
}
#u93.d {
}
#u93_text.d {
}
#u93 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u94.d {
}
#u94_img.d {
}
#u94.d {
}
#u94_text.d {
}
#u94 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u95.d {
}
#u95_img.d {
}
#u95.d {
}
#u95_text.d {
}
#u95 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.d {
}
#u96_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96.d {
}
#u96_text.d {
}
#u96 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u97.d {
}
#u97_img.d {
}
#u97.d {
}
#u97_img.d.mouseOver {
}
#u97.d.mouseOver {
}
#u97_text.d {
}
#u97 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u98.d {
}
#u98_img.d {
}
#u98.d {
}
#u98_text.d {
}
#u98 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.d {
}
#u99_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.d {
}
#u99_text.d {
}
#u99 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u100.d {
}
#u100_img.d {
}
#u100.d {
}
#u100_text.d {
}
#u100 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u101.d {
}
#u101_img.d {
}
#u101.d {
}
#u101_text.d {
}
#u101 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u102.d {
}
#u102_img.d {
}
#u102.d {
}
#u102_text.d {
}
#u102 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u103.d {
}
#u103_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103.d {
}
#u103_text.d {
}
#u103 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u104.d {
}
#u104_img.d {
}
#u104.d {
}
#u104_text.d {
}
#u104 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.d {
}
#u105_img.d {
}
#u105.d {
}
#u105_text.d {
}
#u105 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u106.d {
}
#u106_img.d {
}
#u106.d {
}
#u106_text.d {
}
#u106 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u107.d {
}
#u107_img.d {
}
#u107.d {
}
#u107_text.d {
}
#u107 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u108.d {
}
#u108_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 0.996078431372549);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u108.d {
}
#u108_text.d {
}
#u108 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u109.d {
}
#u109_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u109.d {
}
#u109_text.d {
}
#u109 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u110.d {
}
#u110_img.d {
}
#u110.d {
}
#u110_img.d.mouseOver {
}
#u110.d.mouseOver {
}
#u110_text.d {
}
#u110 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.e {  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u88.e {
}
#u88_img.e {
}
#u88.e {
}
#u88_text.e {
}
#u88 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u89.e {
}
#u89_img.e {
}
#u89.e {
}
#u89_text.e {
}
#u89 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u90.e {
}
#u90_img.e {
}
#u90.e {
}
#u90_text.e {
}
#u90 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u91.e {
}
#u91_img.e {
}
#u91.e {
}
#u91_text.e {
}
#u91 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u92.e {
}
#u92_img.e {
}
#u92.e {
}
#u92_text.e {
}
#u92 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.e {
}
#u93_img.e {
}
#u93.e {
}
#u93_text.e {
}
#u93 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u94.e {
}
#u94_img.e {
}
#u94.e {
}
#u94_text.e {
}
#u94 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u95.e {
}
#u95_img.e {
}
#u95.e {
}
#u95_text.e {
}
#u95 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.e {
}
#u96_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96.e {
}
#u96_text.e {
}
#u96 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u97.e {
}
#u97_img.e {
}
#u97.e {
}
#u97_img.e.mouseOver {
}
#u97.e.mouseOver {
}
#u97_text.e {
}
#u97 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u98.e {
}
#u98_img.e {
}
#u98.e {
}
#u98_text.e {
}
#u98 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.e {
}
#u99_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.e {
}
#u99_text.e {
}
#u99 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u100.e {
}
#u100_img.e {
}
#u100.e {
}
#u100_text.e {
}
#u100 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u101.e {
}
#u101_img.e {
}
#u101.e {
}
#u101_text.e {
}
#u101 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u102.e {
}
#u102_img.e {
}
#u102.e {
}
#u102_text.e {
}
#u102 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u103.e {
}
#u103_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103.e {
}
#u103_text.e {
}
#u103 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u104.e {
}
#u104_img.e {
}
#u104.e {
}
#u104_text.e {
}
#u104 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.e {
}
#u105_img.e {
}
#u105.e {
}
#u105_text.e {
}
#u105 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u106.e {
}
#u106_img.e {
}
#u106.e {
}
#u106_text.e {
}
#u106 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u107.e {
}
#u107_img.e {
}
#u107.e {
}
#u107_text.e {
}
#u107 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u108.e {
}
#u108_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 0.996078431372549);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u108.e {
}
#u108_text.e {
}
#u108 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u109.e {
}
#u109_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u109.e {
}
#u109_text.e {
}
#u109 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u110.e {
}
#u110_img.e {
}
#u110.e {
}
#u110_img.e.mouseOver {
}
#u110.e.mouseOver {
}
#u110_text.e {
}
#u110 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.f {  background-color:rgba(111, 151, 174, 0.517647058823529);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u88.f {
}
#u88_img.f {
}
#u88.f {
}
#u88_text.f {
}
#u88 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u89.f {
}
#u89_img.f {
}
#u89.f {
}
#u89_text.f {
}
#u89 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u90.f {
}
#u90_img.f {
}
#u90.f {
}
#u90_text.f {
}
#u90 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u91.f {
}
#u91_img.f {
}
#u91.f {
}
#u91_text.f {
}
#u91 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u92.f {
}
#u92_img.f {
}
#u92.f {
}
#u92_text.f {
}
#u92 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.f {
}
#u93_img.f {
}
#u93.f {
}
#u93_text.f {
}
#u93 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u94.f {
}
#u94_img.f {
}
#u94.f {
}
#u94_text.f {
}
#u94 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u95.f {
}
#u95_img.f {
}
#u95.f {
}
#u95_text.f {
}
#u95 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.f {
}
#u96_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96.f {
}
#u96_text.f {
}
#u96 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u97.f {
}
#u97_img.f {
}
#u97.f {
}
#u97_img.f.mouseOver {
}
#u97.f.mouseOver {
}
#u97_text.f {
}
#u97 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u98.f {
}
#u98_img.f {
}
#u98.f {
}
#u98_text.f {
}
#u98 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.f {
}
#u99_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99.f {
}
#u99_text.f {
}
#u99 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u100.f {
}
#u100_img.f {
}
#u100.f {
}
#u100_text.f {
}
#u100 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u101.f {
}
#u101_img.f {
}
#u101.f {
}
#u101_text.f {
}
#u101 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u102.f {
}
#u102_img.f {
}
#u102.f {
}
#u102_text.f {
}
#u102 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u103.f {
}
#u103_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103.f {
}
#u103_text.f {
}
#u103 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u104.f {
}
#u104_img.f {
}
#u104.f {
}
#u104_text.f {
}
#u104 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.f {
}
#u105_img.f {
}
#u105.f {
}
#u105_text.f {
}
#u105 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u106.f {
}
#u106_img.f {
}
#u106.f {
}
#u106_text.f {
}
#u106 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u107.f {
}
#u107_img.f {
}
#u107.f {
}
#u107_text.f {
}
#u107 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u108.f {
}
#u108_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 0.996078431372549);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u108.f {
}
#u108_text.f {
}
#u108 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u109.f {
}
#u109_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u109.f {
}
#u109_text.f {
}
#u109 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u110.f {
}
#u110_img.f {
}
#u110.f {
}
#u110_img.f.mouseOver {
}
#u110.f.mouseOver {
}
#u110_text.f {
}
#u110 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
