body {
  margin:0px;
  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:133px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:7px;
  width:359px;
  height:133px;
  display:flex;
  font-size:30px;
  color:#000000;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:193px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-23px;
  width:200px;
  height:193px;
  display:flex;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_img.mouseOver {
}
#u67.mouseOver {
  opacity:0.7;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:114px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:7px;
  width:118px;
  height:114px;
  display:flex;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:113px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:57px;
  width:91px;
  height:113px;
  display:flex;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:208px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:177px;
  width:549px;
  height:208px;
  display:flex;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_img.mouseOver {
}
#u70.mouseOver {
  opacity:0.7;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:189px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:356px;
  width:549px;
  height:189px;
  display:flex;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_img.mouseOver {
}
#u71.mouseOver {
  opacity:0.7;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:205px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:537px;
  width:540px;
  height:205px;
  display:flex;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_img.mouseOver {
}
#u72.mouseOver {
  opacity:0.7;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:178px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:585px;
  width:155px;
  height:178px;
  display:flex;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_img.mouseOver {
}
#u73.mouseOver {
  opacity:0.7;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:7px;
  width:193px;
  height:91px;
  display:flex;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_img.mouseOver {
}
#u75.mouseOver {
  opacity:0.7;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:215px;
  width:99px;
  height:379px;
  display:flex;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:413px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:508px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_img.mouseOver {
}
#u78.mouseOver {
  opacity:0.7;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
  opacity:0.7;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:116px;
  width:140px;
  height:51px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:317px;
  width:79px;
  height:79px;
  display:flex;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_img.mouseOver {
}
#u81.mouseOver {
  opacity:0.7;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:221px;
  width:79px;
  height:79px;
  display:flex;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_img.mouseOver {
}
#u82.mouseOver {
  opacity:0.7;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:664px;
  width:387px;
  height:99px;
  display:flex;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_img.mouseOver {
}
#u87.mouseOver {
  opacity:0.7;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u66.a {
}
#u66_img.a {
}
#u66.a {
}
#u66_text.a {
}
#u66 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u67.a {
}
#u67_img.a {
}
#u67.a {
}
#u67_img.a.mouseOver {
}
#u67.a.mouseOver {
}
#u67_text.a {
}
#u67 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u68.a {
}
#u68_img.a {
}
#u68.a {
}
#u68_text.a {
}
#u68 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u69.a {
}
#u69_img.a {
}
#u69.a {
}
#u69_text.a {
}
#u69 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u70.a {
}
#u70_img.a {
}
#u70.a {
}
#u70_img.a.mouseOver {
}
#u70.a.mouseOver {
}
#u70_text.a {
}
#u70 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u71.a {
}
#u71_img.a {
}
#u71.a {
}
#u71_img.a.mouseOver {
}
#u71.a.mouseOver {
}
#u71_text.a {
}
#u71 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u72.a {
}
#u72_img.a {
}
#u72.a {
}
#u72_img.a.mouseOver {
}
#u72.a.mouseOver {
}
#u72_text.a {
}
#u72 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u73.a {
}
#u73_img.a {
}
#u73.a {
}
#u73_img.a.mouseOver {
}
#u73.a.mouseOver {
}
#u73_text.a {
}
#u73 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u74.a {
}
#u74_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74.a {
}
#u74_text.a {
}
#u74 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u75.a {
}
#u75_img.a {
}
#u75.a {
}
#u75_img.a.mouseOver {
}
#u75.a.mouseOver {
}
#u75_text.a {
}
#u75 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u76.a {
}
#u76_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76.a {
}
#u76_text.a {
}
#u76 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u77.a {
}
#u77_img.a {
}
#u77.a {
}
#u77_text.a {
}
#u77 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.a {
}
#u78_img.a {
}
#u78.a {
}
#u78_img.a.mouseOver {
}
#u78.a.mouseOver {
}
#u78_text.a {
}
#u78 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79.a {
}
#u79_img.a {
}
#u79.a {
}
#u79_img.a.mouseOver {
}
#u79.a.mouseOver {
}
#u79_text.a {
}
#u79 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u80.a {
}
#u80_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u80.a {
}
#u80_text.a {
}
#u80 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u81.a {
}
#u81_img.a {
}
#u81.a {
}
#u81_img.a.mouseOver {
}
#u81.a.mouseOver {
}
#u81_text.a {
}
#u81 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.a {
}
#u82_img.a {
}
#u82.a {
}
#u82_img.a.mouseOver {
}
#u82.a.mouseOver {
}
#u82_text.a {
}
#u82 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83.a {
}
#u83_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83.a {
}
#u83_text.a {
}
#u83 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u84.a {
}
#u84_img.a {
}
#u84.a {
}
#u84_text.a {
}
#u84 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.a {
}
#u85_img.a {
}
#u85.a {
}
#u85_text.a {
}
#u85 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.a {
}
#u86_img.a {
}
#u86.a {
}
#u86_text.a {
}
#u86 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u87.a {
}
#u87_img.a {
}
#u87.a {
}
#u87_img.a.mouseOver {
}
#u87.a.mouseOver {
}
#u87_text.a {
}
#u87 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.b {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u66.b {
}
#u66_img.b {
}
#u66.b {
}
#u66_text.b {
}
#u66 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u67.b {
}
#u67_img.b {
}
#u67.b {
}
#u67_img.b.mouseOver {
}
#u67.b.mouseOver {
}
#u67_text.b {
}
#u67 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u68.b {
}
#u68_img.b {
}
#u68.b {
}
#u68_text.b {
}
#u68 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u69.b {
}
#u69_img.b {
}
#u69.b {
}
#u69_text.b {
}
#u69 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u70.b {
}
#u70_img.b {
}
#u70.b {
}
#u70_img.b.mouseOver {
}
#u70.b.mouseOver {
}
#u70_text.b {
}
#u70 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u71.b {
}
#u71_img.b {
}
#u71.b {
}
#u71_img.b.mouseOver {
}
#u71.b.mouseOver {
}
#u71_text.b {
}
#u71 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u72.b {
}
#u72_img.b {
}
#u72.b {
}
#u72_img.b.mouseOver {
}
#u72.b.mouseOver {
}
#u72_text.b {
}
#u72 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u73.b {
}
#u73_img.b {
}
#u73.b {
}
#u73_img.b.mouseOver {
}
#u73.b.mouseOver {
}
#u73_text.b {
}
#u73 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u74.b {
}
#u74_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74.b {
}
#u74_text.b {
}
#u74 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u75.b {
}
#u75_img.b {
}
#u75.b {
}
#u75_img.b.mouseOver {
}
#u75.b.mouseOver {
}
#u75_text.b {
}
#u75 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u76.b {
}
#u76_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76.b {
}
#u76_text.b {
}
#u76 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u77.b {
}
#u77_img.b {
}
#u77.b {
}
#u77_text.b {
}
#u77 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.b {
}
#u78_img.b {
}
#u78.b {
}
#u78_img.b.mouseOver {
}
#u78.b.mouseOver {
}
#u78_text.b {
}
#u78 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79.b {
}
#u79_img.b {
}
#u79.b {
}
#u79_img.b.mouseOver {
}
#u79.b.mouseOver {
}
#u79_text.b {
}
#u79 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u80.b {
}
#u80_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u80.b {
}
#u80_text.b {
}
#u80 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u81.b {
}
#u81_img.b {
}
#u81.b {
}
#u81_img.b.mouseOver {
}
#u81.b.mouseOver {
}
#u81_text.b {
}
#u81 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.b {
}
#u82_img.b {
}
#u82.b {
}
#u82_img.b.mouseOver {
}
#u82.b.mouseOver {
}
#u82_text.b {
}
#u82 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83.b {
}
#u83_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83.b {
}
#u83_text.b {
}
#u83 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u84.b {
}
#u84_img.b {
}
#u84.b {
}
#u84_text.b {
}
#u84 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.b {
}
#u85_img.b {
}
#u85.b {
}
#u85_text.b {
}
#u85 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.b {
}
#u86_img.b {
}
#u86.b {
}
#u86_text.b {
}
#u86 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u87.b {
}
#u87_img.b {
}
#u87.b {
}
#u87_img.b.mouseOver {
}
#u87.b.mouseOver {
}
#u87_text.b {
}
#u87 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.c {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u66.c {
}
#u66_img.c {
}
#u66.c {
}
#u66_text.c {
}
#u66 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u67.c {
}
#u67_img.c {
}
#u67.c {
}
#u67_img.c.mouseOver {
}
#u67.c.mouseOver {
}
#u67_text.c {
}
#u67 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u68.c {
}
#u68_img.c {
}
#u68.c {
}
#u68_text.c {
}
#u68 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u69.c {
}
#u69_img.c {
}
#u69.c {
}
#u69_text.c {
}
#u69 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u70.c {
}
#u70_img.c {
}
#u70.c {
}
#u70_img.c.mouseOver {
}
#u70.c.mouseOver {
}
#u70_text.c {
}
#u70 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u71.c {
}
#u71_img.c {
}
#u71.c {
}
#u71_img.c.mouseOver {
}
#u71.c.mouseOver {
}
#u71_text.c {
}
#u71 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u72.c {
}
#u72_img.c {
}
#u72.c {
}
#u72_img.c.mouseOver {
}
#u72.c.mouseOver {
}
#u72_text.c {
}
#u72 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u73.c {
}
#u73_img.c {
}
#u73.c {
}
#u73_img.c.mouseOver {
}
#u73.c.mouseOver {
}
#u73_text.c {
}
#u73 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u74.c {
}
#u74_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74.c {
}
#u74_text.c {
}
#u74 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u75.c {
}
#u75_img.c {
}
#u75.c {
}
#u75_img.c.mouseOver {
}
#u75.c.mouseOver {
}
#u75_text.c {
}
#u75 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u76.c {
}
#u76_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76.c {
}
#u76_text.c {
}
#u76 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u77.c {
}
#u77_img.c {
}
#u77.c {
}
#u77_text.c {
}
#u77 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.c {
}
#u78_img.c {
}
#u78.c {
}
#u78_img.c.mouseOver {
}
#u78.c.mouseOver {
}
#u78_text.c {
}
#u78 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79.c {
}
#u79_img.c {
}
#u79.c {
}
#u79_img.c.mouseOver {
}
#u79.c.mouseOver {
}
#u79_text.c {
}
#u79 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u80.c {
}
#u80_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u80.c {
}
#u80_text.c {
}
#u80 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u81.c {
}
#u81_img.c {
}
#u81.c {
}
#u81_img.c.mouseOver {
}
#u81.c.mouseOver {
}
#u81_text.c {
}
#u81 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.c {
}
#u82_img.c {
}
#u82.c {
}
#u82_img.c.mouseOver {
}
#u82.c.mouseOver {
}
#u82_text.c {
}
#u82 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83.c {
}
#u83_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83.c {
}
#u83_text.c {
}
#u83 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u84.c {
}
#u84_img.c {
}
#u84.c {
}
#u84_text.c {
}
#u84 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.c {
}
#u85_img.c {
}
#u85.c {
}
#u85_text.c {
}
#u85 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.c {
}
#u86_img.c {
}
#u86.c {
}
#u86_text.c {
}
#u86 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u87.c {
}
#u87_img.c {
}
#u87.c {
}
#u87_img.c.mouseOver {
}
#u87.c.mouseOver {
}
#u87_text.c {
}
#u87 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.d {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u66.d {
}
#u66_img.d {
}
#u66.d {
}
#u66_text.d {
}
#u66 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u67.d {
}
#u67_img.d {
}
#u67.d {
}
#u67_img.d.mouseOver {
}
#u67.d.mouseOver {
}
#u67_text.d {
}
#u67 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u68.d {
}
#u68_img.d {
}
#u68.d {
}
#u68_text.d {
}
#u68 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u69.d {
}
#u69_img.d {
}
#u69.d {
}
#u69_text.d {
}
#u69 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u70.d {
}
#u70_img.d {
}
#u70.d {
}
#u70_img.d.mouseOver {
}
#u70.d.mouseOver {
}
#u70_text.d {
}
#u70 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u71.d {
}
#u71_img.d {
}
#u71.d {
}
#u71_img.d.mouseOver {
}
#u71.d.mouseOver {
}
#u71_text.d {
}
#u71 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u72.d {
}
#u72_img.d {
}
#u72.d {
}
#u72_img.d.mouseOver {
}
#u72.d.mouseOver {
}
#u72_text.d {
}
#u72 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u73.d {
}
#u73_img.d {
}
#u73.d {
}
#u73_img.d.mouseOver {
}
#u73.d.mouseOver {
}
#u73_text.d {
}
#u73 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u74.d {
}
#u74_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74.d {
}
#u74_text.d {
}
#u74 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u75.d {
}
#u75_img.d {
}
#u75.d {
}
#u75_img.d.mouseOver {
}
#u75.d.mouseOver {
}
#u75_text.d {
}
#u75 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u76.d {
}
#u76_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76.d {
}
#u76_text.d {
}
#u76 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u77.d {
}
#u77_img.d {
}
#u77.d {
}
#u77_text.d {
}
#u77 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.d {
}
#u78_img.d {
}
#u78.d {
}
#u78_img.d.mouseOver {
}
#u78.d.mouseOver {
}
#u78_text.d {
}
#u78 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79.d {
}
#u79_img.d {
}
#u79.d {
}
#u79_img.d.mouseOver {
}
#u79.d.mouseOver {
}
#u79_text.d {
}
#u79 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u80.d {
}
#u80_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u80.d {
}
#u80_text.d {
}
#u80 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u81.d {
}
#u81_img.d {
}
#u81.d {
}
#u81_img.d.mouseOver {
}
#u81.d.mouseOver {
}
#u81_text.d {
}
#u81 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.d {
}
#u82_img.d {
}
#u82.d {
}
#u82_img.d.mouseOver {
}
#u82.d.mouseOver {
}
#u82_text.d {
}
#u82 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83.d {
}
#u83_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83.d {
}
#u83_text.d {
}
#u83 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u84.d {
}
#u84_img.d {
}
#u84.d {
}
#u84_text.d {
}
#u84 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.d {
}
#u85_img.d {
}
#u85.d {
}
#u85_text.d {
}
#u85 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.d {
}
#u86_img.d {
}
#u86.d {
}
#u86_text.d {
}
#u86 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u87.d {
}
#u87_img.d {
}
#u87.d {
}
#u87_img.d.mouseOver {
}
#u87.d.mouseOver {
}
#u87_text.d {
}
#u87 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.e {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u66.e {
}
#u66_img.e {
}
#u66.e {
}
#u66_text.e {
}
#u66 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u67.e {
}
#u67_img.e {
}
#u67.e {
}
#u67_img.e.mouseOver {
}
#u67.e.mouseOver {
}
#u67_text.e {
}
#u67 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u68.e {
}
#u68_img.e {
}
#u68.e {
}
#u68_text.e {
}
#u68 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u69.e {
}
#u69_img.e {
}
#u69.e {
}
#u69_text.e {
}
#u69 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u70.e {
}
#u70_img.e {
}
#u70.e {
}
#u70_img.e.mouseOver {
}
#u70.e.mouseOver {
}
#u70_text.e {
}
#u70 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u71.e {
}
#u71_img.e {
}
#u71.e {
}
#u71_img.e.mouseOver {
}
#u71.e.mouseOver {
}
#u71_text.e {
}
#u71 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u72.e {
}
#u72_img.e {
}
#u72.e {
}
#u72_img.e.mouseOver {
}
#u72.e.mouseOver {
}
#u72_text.e {
}
#u72 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u73.e {
}
#u73_img.e {
}
#u73.e {
}
#u73_img.e.mouseOver {
}
#u73.e.mouseOver {
}
#u73_text.e {
}
#u73 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u74.e {
}
#u74_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74.e {
}
#u74_text.e {
}
#u74 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u75.e {
}
#u75_img.e {
}
#u75.e {
}
#u75_img.e.mouseOver {
}
#u75.e.mouseOver {
}
#u75_text.e {
}
#u75 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u76.e {
}
#u76_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76.e {
}
#u76_text.e {
}
#u76 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u77.e {
}
#u77_img.e {
}
#u77.e {
}
#u77_text.e {
}
#u77 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.e {
}
#u78_img.e {
}
#u78.e {
}
#u78_img.e.mouseOver {
}
#u78.e.mouseOver {
}
#u78_text.e {
}
#u78 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79.e {
}
#u79_img.e {
}
#u79.e {
}
#u79_img.e.mouseOver {
}
#u79.e.mouseOver {
}
#u79_text.e {
}
#u79 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u80.e {
}
#u80_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u80.e {
}
#u80_text.e {
}
#u80 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u81.e {
}
#u81_img.e {
}
#u81.e {
}
#u81_img.e.mouseOver {
}
#u81.e.mouseOver {
}
#u81_text.e {
}
#u81 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.e {
}
#u82_img.e {
}
#u82.e {
}
#u82_img.e.mouseOver {
}
#u82.e.mouseOver {
}
#u82_text.e {
}
#u82 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83.e {
}
#u83_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83.e {
}
#u83_text.e {
}
#u83 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u84.e {
}
#u84_img.e {
}
#u84.e {
}
#u84_text.e {
}
#u84 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.e {
}
#u85_img.e {
}
#u85.e {
}
#u85_text.e {
}
#u85 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.e {
}
#u86_img.e {
}
#u86.e {
}
#u86_text.e {
}
#u86 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u87.e {
}
#u87_img.e {
}
#u87.e {
}
#u87_img.e.mouseOver {
}
#u87.e.mouseOver {
}
#u87_text.e {
}
#u87 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.f {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u66.f {
}
#u66_img.f {
}
#u66.f {
}
#u66_text.f {
}
#u66 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u67.f {
}
#u67_img.f {
}
#u67.f {
}
#u67_img.f.mouseOver {
}
#u67.f.mouseOver {
}
#u67_text.f {
}
#u67 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u68.f {
}
#u68_img.f {
}
#u68.f {
}
#u68_text.f {
}
#u68 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u69.f {
}
#u69_img.f {
}
#u69.f {
}
#u69_text.f {
}
#u69 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u70.f {
}
#u70_img.f {
}
#u70.f {
}
#u70_img.f.mouseOver {
}
#u70.f.mouseOver {
}
#u70_text.f {
}
#u70 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u71.f {
}
#u71_img.f {
}
#u71.f {
}
#u71_img.f.mouseOver {
}
#u71.f.mouseOver {
}
#u71_text.f {
}
#u71 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u72.f {
}
#u72_img.f {
}
#u72.f {
}
#u72_img.f.mouseOver {
}
#u72.f.mouseOver {
}
#u72_text.f {
}
#u72 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u73.f {
}
#u73_img.f {
}
#u73.f {
}
#u73_img.f.mouseOver {
}
#u73.f.mouseOver {
}
#u73_text.f {
}
#u73 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u74.f {
}
#u74_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74.f {
}
#u74_text.f {
}
#u74 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u75.f {
}
#u75_img.f {
}
#u75.f {
}
#u75_img.f.mouseOver {
}
#u75.f.mouseOver {
}
#u75_text.f {
}
#u75 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u76.f {
}
#u76_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76.f {
}
#u76_text.f {
}
#u76 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u77.f {
}
#u77_img.f {
}
#u77.f {
}
#u77_text.f {
}
#u77 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.f {
}
#u78_img.f {
}
#u78.f {
}
#u78_img.f.mouseOver {
}
#u78.f.mouseOver {
}
#u78_text.f {
}
#u78 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79.f {
}
#u79_img.f {
}
#u79.f {
}
#u79_img.f.mouseOver {
}
#u79.f.mouseOver {
}
#u79_text.f {
}
#u79 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u80.f {
}
#u80_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u80.f {
}
#u80_text.f {
}
#u80 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u81.f {
}
#u81_img.f {
}
#u81.f {
}
#u81_img.f.mouseOver {
}
#u81.f.mouseOver {
}
#u81_text.f {
}
#u81 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.f {
}
#u82_img.f {
}
#u82.f {
}
#u82_img.f.mouseOver {
}
#u82.f.mouseOver {
}
#u82_text.f {
}
#u82 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83.f {
}
#u83_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83.f {
}
#u83_text.f {
}
#u83 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u84.f {
}
#u84_img.f {
}
#u84.f {
}
#u84_text.f {
}
#u84 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.f {
}
#u85_img.f {
}
#u85.f {
}
#u85_text.f {
}
#u85 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.f {
}
#u86_img.f {
}
#u86.f {
}
#u86_text.f {
}
#u86 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u87.f {
}
#u87_img.f {
}
#u87.f {
}
#u87_img.f.mouseOver {
}
#u87.f.mouseOver {
}
#u87_text.f {
}
#u87 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
