body {
  margin:0px;
  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:193px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-23px;
  width:200px;
  height:193px;
  display:flex;
  opacity:0.6;
}
#u314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:433px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:192px;
  width:577px;
  height:433px;
  display:flex;
  opacity:0.6;
}
#u315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:7px;
  width:193px;
  height:91px;
  display:flex;
  opacity:0.6;
}
#u316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:178px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:585px;
  width:155px;
  height:178px;
  display:flex;
  opacity:0.6;
}
#u317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:215px;
  width:99px;
  height:379px;
  display:flex;
  opacity:0.6;
}
#u318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:221px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:317px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:413px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:664px;
  width:387px;
  height:99px;
  display:flex;
  opacity:0.6;
}
#u322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:508px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
}
#u328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u328_img.mouseOver {
}
#u328.mouseOver {
  opacity:0.7;
}
#u328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:245px;
  width:468px;
  height:269px;
  display:flex;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:116px;
  width:140px;
  height:51px;
  display:flex;
  opacity:0.6;
  font-size:18px;
  color:#000000;
}
#u330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u331_img.mouseOver {
}
#u331.mouseOver {
  opacity:0.7;
}
#u331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:68px;
  width:570px;
  height:108px;
  display:flex;
  opacity:0.6;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:118px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:135px;
  width:637px;
  height:118px;
  display:flex;
  opacity:0.6;
}
#u333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u314.a {
}
#u314_img.a {
}
#u314.a {
}
#u314_text.a {
}
#u314 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u315.a {
}
#u315_img.a {
}
#u315.a {
}
#u315_text.a {
}
#u315 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u316.a {
}
#u316_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316.a {
}
#u316_text.a {
}
#u316 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u317.a {
}
#u317_img.a {
}
#u317.a {
}
#u317_text.a {
}
#u317 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u318.a {
}
#u318_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318.a {
}
#u318_text.a {
}
#u318 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u319.a {
}
#u319_img.a {
}
#u319.a {
}
#u319_text.a {
}
#u319 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u320.a {
}
#u320_img.a {
}
#u320.a {
}
#u320_text.a {
}
#u320 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u321.a {
}
#u321_img.a {
}
#u321.a {
}
#u321_text.a {
}
#u321 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u322.a {
}
#u322_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u322.a {
}
#u322_text.a {
}
#u322 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u323.a {
}
#u323_img.a {
}
#u323.a {
}
#u323_text.a {
}
#u323 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u324.a {
}
#u324_img.a {
}
#u324.a {
}
#u324_text.a {
}
#u324 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u325.a {
}
#u325_img.a {
}
#u325.a {
}
#u325_text.a {
}
#u325 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u326.a {
}
#u326_img.a {
}
#u326.a {
}
#u326_text.a {
}
#u326 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u327.a {
}
#u327_img.a {
}
#u327.a {
}
#u327_text.a {
}
#u327 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u328.a {
}
#u328_img.a {
}
#u328.a {
}
#u328_img.a.mouseOver {
}
#u328.a.mouseOver {
}
#u328_text.a {
}
#u328 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u329.a {
}
#u329_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u329.a {
}
#u329_text.a {
}
#u329 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u330.a {
}
#u330_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u330.a {
}
#u330_text.a {
}
#u330 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u331.a {
}
#u331_img.a {
}
#u331.a {
}
#u331_img.a.mouseOver {
}
#u331.a.mouseOver {
}
#u331_text.a {
}
#u331 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u332.a {
}
#u332_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u332.a {
}
#u332_text.a {
}
#u332 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u333.a {
}
#u333_img.a {
}
#u333.a {
}
#u333_text.a {
}
#u333 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.b {  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u314.b {
}
#u314_img.b {
}
#u314.b {
}
#u314_text.b {
}
#u314 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u315.b {
}
#u315_img.b {
}
#u315.b {
}
#u315_text.b {
}
#u315 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u316.b {
}
#u316_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316.b {
}
#u316_text.b {
}
#u316 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u317.b {
}
#u317_img.b {
}
#u317.b {
}
#u317_text.b {
}
#u317 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u318.b {
}
#u318_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318.b {
}
#u318_text.b {
}
#u318 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u319.b {
}
#u319_img.b {
}
#u319.b {
}
#u319_text.b {
}
#u319 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u320.b {
}
#u320_img.b {
}
#u320.b {
}
#u320_text.b {
}
#u320 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u321.b {
}
#u321_img.b {
}
#u321.b {
}
#u321_text.b {
}
#u321 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u322.b {
}
#u322_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u322.b {
}
#u322_text.b {
}
#u322 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u323.b {
}
#u323_img.b {
}
#u323.b {
}
#u323_text.b {
}
#u323 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u324.b {
}
#u324_img.b {
}
#u324.b {
}
#u324_text.b {
}
#u324 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u325.b {
}
#u325_img.b {
}
#u325.b {
}
#u325_text.b {
}
#u325 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u326.b {
}
#u326_img.b {
}
#u326.b {
}
#u326_text.b {
}
#u326 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u327.b {
}
#u327_img.b {
}
#u327.b {
}
#u327_text.b {
}
#u327 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u328.b {
}
#u328_img.b {
}
#u328.b {
}
#u328_img.b.mouseOver {
}
#u328.b.mouseOver {
}
#u328_text.b {
}
#u328 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u329.b {
}
#u329_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u329.b {
}
#u329_text.b {
}
#u329 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u330.b {
}
#u330_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u330.b {
}
#u330_text.b {
}
#u330 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u331.b {
}
#u331_img.b {
}
#u331.b {
}
#u331_img.b.mouseOver {
}
#u331.b.mouseOver {
}
#u331_text.b {
}
#u331 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u332.b {
}
#u332_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u332.b {
}
#u332_text.b {
}
#u332 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u333.b {
}
#u333_img.b {
}
#u333.b {
}
#u333_text.b {
}
#u333 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.c {  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u314.c {
}
#u314_img.c {
}
#u314.c {
}
#u314_text.c {
}
#u314 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u315.c {
}
#u315_img.c {
}
#u315.c {
}
#u315_text.c {
}
#u315 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u316.c {
}
#u316_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316.c {
}
#u316_text.c {
}
#u316 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u317.c {
}
#u317_img.c {
}
#u317.c {
}
#u317_text.c {
}
#u317 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u318.c {
}
#u318_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318.c {
}
#u318_text.c {
}
#u318 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u319.c {
}
#u319_img.c {
}
#u319.c {
}
#u319_text.c {
}
#u319 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u320.c {
}
#u320_img.c {
}
#u320.c {
}
#u320_text.c {
}
#u320 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u321.c {
}
#u321_img.c {
}
#u321.c {
}
#u321_text.c {
}
#u321 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u322.c {
}
#u322_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u322.c {
}
#u322_text.c {
}
#u322 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u323.c {
}
#u323_img.c {
}
#u323.c {
}
#u323_text.c {
}
#u323 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u324.c {
}
#u324_img.c {
}
#u324.c {
}
#u324_text.c {
}
#u324 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u325.c {
}
#u325_img.c {
}
#u325.c {
}
#u325_text.c {
}
#u325 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u326.c {
}
#u326_img.c {
}
#u326.c {
}
#u326_text.c {
}
#u326 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u327.c {
}
#u327_img.c {
}
#u327.c {
}
#u327_text.c {
}
#u327 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u328.c {
}
#u328_img.c {
}
#u328.c {
}
#u328_img.c.mouseOver {
}
#u328.c.mouseOver {
}
#u328_text.c {
}
#u328 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u329.c {
}
#u329_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u329.c {
}
#u329_text.c {
}
#u329 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u330.c {
}
#u330_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u330.c {
}
#u330_text.c {
}
#u330 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u331.c {
}
#u331_img.c {
}
#u331.c {
}
#u331_img.c.mouseOver {
}
#u331.c.mouseOver {
}
#u331_text.c {
}
#u331 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u332.c {
}
#u332_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u332.c {
}
#u332_text.c {
}
#u332 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u333.c {
}
#u333_img.c {
}
#u333.c {
}
#u333_text.c {
}
#u333 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.d {  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u314.d {
}
#u314_img.d {
}
#u314.d {
}
#u314_text.d {
}
#u314 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u315.d {
}
#u315_img.d {
}
#u315.d {
}
#u315_text.d {
}
#u315 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u316.d {
}
#u316_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316.d {
}
#u316_text.d {
}
#u316 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u317.d {
}
#u317_img.d {
}
#u317.d {
}
#u317_text.d {
}
#u317 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u318.d {
}
#u318_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318.d {
}
#u318_text.d {
}
#u318 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u319.d {
}
#u319_img.d {
}
#u319.d {
}
#u319_text.d {
}
#u319 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u320.d {
}
#u320_img.d {
}
#u320.d {
}
#u320_text.d {
}
#u320 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u321.d {
}
#u321_img.d {
}
#u321.d {
}
#u321_text.d {
}
#u321 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u322.d {
}
#u322_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u322.d {
}
#u322_text.d {
}
#u322 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u323.d {
}
#u323_img.d {
}
#u323.d {
}
#u323_text.d {
}
#u323 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u324.d {
}
#u324_img.d {
}
#u324.d {
}
#u324_text.d {
}
#u324 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u325.d {
}
#u325_img.d {
}
#u325.d {
}
#u325_text.d {
}
#u325 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u326.d {
}
#u326_img.d {
}
#u326.d {
}
#u326_text.d {
}
#u326 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u327.d {
}
#u327_img.d {
}
#u327.d {
}
#u327_text.d {
}
#u327 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u328.d {
}
#u328_img.d {
}
#u328.d {
}
#u328_img.d.mouseOver {
}
#u328.d.mouseOver {
}
#u328_text.d {
}
#u328 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u329.d {
}
#u329_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u329.d {
}
#u329_text.d {
}
#u329 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u330.d {
}
#u330_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u330.d {
}
#u330_text.d {
}
#u330 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u331.d {
}
#u331_img.d {
}
#u331.d {
}
#u331_img.d.mouseOver {
}
#u331.d.mouseOver {
}
#u331_text.d {
}
#u331 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u332.d {
}
#u332_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u332.d {
}
#u332_text.d {
}
#u332 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u333.d {
}
#u333_img.d {
}
#u333.d {
}
#u333_text.d {
}
#u333 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.e {  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u314.e {
}
#u314_img.e {
}
#u314.e {
}
#u314_text.e {
}
#u314 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u315.e {
}
#u315_img.e {
}
#u315.e {
}
#u315_text.e {
}
#u315 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u316.e {
}
#u316_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316.e {
}
#u316_text.e {
}
#u316 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u317.e {
}
#u317_img.e {
}
#u317.e {
}
#u317_text.e {
}
#u317 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u318.e {
}
#u318_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318.e {
}
#u318_text.e {
}
#u318 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u319.e {
}
#u319_img.e {
}
#u319.e {
}
#u319_text.e {
}
#u319 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u320.e {
}
#u320_img.e {
}
#u320.e {
}
#u320_text.e {
}
#u320 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u321.e {
}
#u321_img.e {
}
#u321.e {
}
#u321_text.e {
}
#u321 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u322.e {
}
#u322_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u322.e {
}
#u322_text.e {
}
#u322 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u323.e {
}
#u323_img.e {
}
#u323.e {
}
#u323_text.e {
}
#u323 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u324.e {
}
#u324_img.e {
}
#u324.e {
}
#u324_text.e {
}
#u324 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u325.e {
}
#u325_img.e {
}
#u325.e {
}
#u325_text.e {
}
#u325 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u326.e {
}
#u326_img.e {
}
#u326.e {
}
#u326_text.e {
}
#u326 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u327.e {
}
#u327_img.e {
}
#u327.e {
}
#u327_text.e {
}
#u327 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u328.e {
}
#u328_img.e {
}
#u328.e {
}
#u328_img.e.mouseOver {
}
#u328.e.mouseOver {
}
#u328_text.e {
}
#u328 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u329.e {
}
#u329_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u329.e {
}
#u329_text.e {
}
#u329 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u330.e {
}
#u330_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u330.e {
}
#u330_text.e {
}
#u330 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u331.e {
}
#u331_img.e {
}
#u331.e {
}
#u331_img.e.mouseOver {
}
#u331.e.mouseOver {
}
#u331_text.e {
}
#u331 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u332.e {
}
#u332_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u332.e {
}
#u332_text.e {
}
#u332 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u333.e {
}
#u333_img.e {
}
#u333.e {
}
#u333_text.e {
}
#u333 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.f {  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u314.f {
}
#u314_img.f {
}
#u314.f {
}
#u314_text.f {
}
#u314 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u315.f {
}
#u315_img.f {
}
#u315.f {
}
#u315_text.f {
}
#u315 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u316.f {
}
#u316_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316.f {
}
#u316_text.f {
}
#u316 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u317.f {
}
#u317_img.f {
}
#u317.f {
}
#u317_text.f {
}
#u317 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u318.f {
}
#u318_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318.f {
}
#u318_text.f {
}
#u318 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u319.f {
}
#u319_img.f {
}
#u319.f {
}
#u319_text.f {
}
#u319 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u320.f {
}
#u320_img.f {
}
#u320.f {
}
#u320_text.f {
}
#u320 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u321.f {
}
#u321_img.f {
}
#u321.f {
}
#u321_text.f {
}
#u321 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u322.f {
}
#u322_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u322.f {
}
#u322_text.f {
}
#u322 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u323.f {
}
#u323_img.f {
}
#u323.f {
}
#u323_text.f {
}
#u323 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u324.f {
}
#u324_img.f {
}
#u324.f {
}
#u324_text.f {
}
#u324 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u325.f {
}
#u325_img.f {
}
#u325.f {
}
#u325_text.f {
}
#u325 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u326.f {
}
#u326_img.f {
}
#u326.f {
}
#u326_text.f {
}
#u326 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u327.f {
}
#u327_img.f {
}
#u327.f {
}
#u327_text.f {
}
#u327 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u328.f {
}
#u328_img.f {
}
#u328.f {
}
#u328_img.f.mouseOver {
}
#u328.f.mouseOver {
}
#u328_text.f {
}
#u328 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u329.f {
}
#u329_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u329.f {
}
#u329_text.f {
}
#u329 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u330.f {
}
#u330_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u330.f {
}
#u330_text.f {
}
#u330 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u331.f {
}
#u331_img.f {
}
#u331.f {
}
#u331_img.f.mouseOver {
}
#u331.f.mouseOver {
}
#u331_text.f {
}
#u331 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u332.f {
}
#u332_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:47px;
  color:#000000;
  text-align:center;
}
#u332.f {
}
#u332_text.f {
}
#u332 .text.f {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u333.f {
}
#u333_img.f {
}
#u333.f {
}
#u333_text.f {
}
#u333 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
