body {
  margin:0px;
  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:211px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:7px;
  width:499px;
  height:211px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:437px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:239px;
  width:295px;
  height:437px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
  color:#000000;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:704px;
  width:472px;
  height:33px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
  color:#000000;
}
#u2 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:7px;
  width:103px;
  height:91px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
  opacity:0.7;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:116px;
  width:140px;
  height:51px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:215px;
  width:99px;
  height:379px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:413px;
  width:79px;
  height:79px;
  display:flex;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:508px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
  opacity:0.7;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:317px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:221px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:529px;
  width:220px;
  height:65px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.mouseOver {
  opacity:0.7;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:636px;
  width:220px;
  height:84px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.mouseOver {
  opacity:0.7;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:64px;
  background:inherit;
  background-color:rgba(152, 199, 240, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(85, 116, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:28px;
  width:248px;
  height:64px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:664px;
  width:387px;
  height:99px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
  opacity:0.7;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
  opacity:0.7;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
  opacity:0.7;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
  opacity:0.7;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u0_img.a {
}
#u0.a {
}
#u0_text.a {
}
#u0 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1.a {
}
#u1_img.a {
}
#u1.a {
}
#u1_text.a {
}
#u1 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2.a {
}
#u2_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
  color:#000000;
}
#u2.a {
}
#u2_text.a {
}
#u2 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u3.a {
}
#u3_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3.a {
}
#u3_text.a {
}
#u3 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u4.a {
}
#u4_img.a {
}
#u4.a {
}
#u4_img.a.mouseOver {
}
#u4.a.mouseOver {
}
#u4_text.a {
}
#u4 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u5.a {
}
#u5_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u5.a {
}
#u5_text.a {
}
#u5 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u6.a {
}
#u6_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6.a {
}
#u6_text.a {
}
#u6 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u7.a {
}
#u7_img.a {
}
#u7.a {
}
#u7_text.a {
}
#u7 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u8.a {
}
#u8_img.a {
}
#u8.a {
}
#u8_img.a.mouseOver {
}
#u8.a.mouseOver {
}
#u8_text.a {
}
#u8 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u9.a {
}
#u9_img.a {
}
#u9.a {
}
#u9_text.a {
}
#u9 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u10.a {
}
#u10_img.a {
}
#u10.a {
}
#u10_text.a {
}
#u10 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u11.a {
}
#u11_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.a {
}
#u11_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.a.mouseOver {
}
#u11_text.a {
}
#u11 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u12.a {
}
#u12_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.a {
}
#u12_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.a.mouseOver {
}
#u12_text.a {
}
#u12 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u13.a {
}
#u13_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:64px;
  background:inherit;
  background-color:rgba(152, 199, 240, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(85, 116, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u13.a {
}
#u13_text.a {
}
#u13 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u14.a {
}
#u14_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14.a {
}
#u14_text.a {
}
#u14 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u15.a {
}
#u15_img.a {
}
#u15.a {
}
#u15_img.a.mouseOver {
}
#u15.a.mouseOver {
}
#u15_text.a {
}
#u15 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u16.a {
}
#u16_img.a {
}
#u16.a {
}
#u16_img.a.mouseOver {
}
#u16.a.mouseOver {
}
#u16_img.a.selected {
}
#u16.a.selected {
}
#u16_text.a {
}
#u16 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u17.a {
}
#u17_img.a {
}
#u17.a {
}
#u17_img.a.mouseOver {
}
#u17.a.mouseOver {
}
#u17_text.a {
}
#u17 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u18.a {
}
#u18_img.a {
}
#u18.a {
}
#u18_img.a.mouseOver {
}
#u18.a.mouseOver {
}
#u18_text.a {
}
#u18 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.b {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.b {
}
#u0_img.b {
}
#u0.b {
}
#u0_text.b {
}
#u0 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1.b {
}
#u1_img.b {
}
#u1.b {
}
#u1_text.b {
}
#u1 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2.b {
}
#u2_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
  color:#000000;
}
#u2.b {
}
#u2_text.b {
}
#u2 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u3.b {
}
#u3_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3.b {
}
#u3_text.b {
}
#u3 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u4.b {
}
#u4_img.b {
}
#u4.b {
}
#u4_img.b.mouseOver {
}
#u4.b.mouseOver {
}
#u4_text.b {
}
#u4 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u5.b {
}
#u5_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u5.b {
}
#u5_text.b {
}
#u5 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u6.b {
}
#u6_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6.b {
}
#u6_text.b {
}
#u6 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u7.b {
}
#u7_img.b {
}
#u7.b {
}
#u7_text.b {
}
#u7 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u8.b {
}
#u8_img.b {
}
#u8.b {
}
#u8_img.b.mouseOver {
}
#u8.b.mouseOver {
}
#u8_text.b {
}
#u8 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u9.b {
}
#u9_img.b {
}
#u9.b {
}
#u9_text.b {
}
#u9 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u10.b {
}
#u10_img.b {
}
#u10.b {
}
#u10_text.b {
}
#u10 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u11.b {
}
#u11_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.b {
}
#u11_div.mouseOver.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.b.mouseOver {
}
#u11_text.b {
}
#u11 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u12.b {
}
#u12_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.b {
}
#u12_div.mouseOver.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.b.mouseOver {
}
#u12_text.b {
}
#u12 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u13.b {
}
#u13_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:64px;
  background:inherit;
  background-color:rgba(152, 199, 240, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(85, 116, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u13.b {
}
#u13_text.b {
}
#u13 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u14.b {
}
#u14_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14.b {
}
#u14_text.b {
}
#u14 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u15.b {
}
#u15_img.b {
}
#u15.b {
}
#u15_img.b.mouseOver {
}
#u15.b.mouseOver {
}
#u15_text.b {
}
#u15 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u16.b {
}
#u16_img.b {
}
#u16.b {
}
#u16_img.b.mouseOver {
}
#u16.b.mouseOver {
}
#u16_img.b.selected {
}
#u16.b.selected {
}
#u16_text.b {
}
#u16 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u17.b {
}
#u17_img.b {
}
#u17.b {
}
#u17_img.b.mouseOver {
}
#u17.b.mouseOver {
}
#u17_text.b {
}
#u17 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u18.b {
}
#u18_img.b {
}
#u18.b {
}
#u18_img.b.mouseOver {
}
#u18.b.mouseOver {
}
#u18_text.b {
}
#u18 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.c {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.c {
}
#u0_img.c {
}
#u0.c {
}
#u0_text.c {
}
#u0 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1.c {
}
#u1_img.c {
}
#u1.c {
}
#u1_text.c {
}
#u1 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2.c {
}
#u2_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
  color:#000000;
}
#u2.c {
}
#u2_text.c {
}
#u2 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u3.c {
}
#u3_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3.c {
}
#u3_text.c {
}
#u3 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u4.c {
}
#u4_img.c {
}
#u4.c {
}
#u4_img.c.mouseOver {
}
#u4.c.mouseOver {
}
#u4_text.c {
}
#u4 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u5.c {
}
#u5_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u5.c {
}
#u5_text.c {
}
#u5 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u6.c {
}
#u6_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6.c {
}
#u6_text.c {
}
#u6 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u7.c {
}
#u7_img.c {
}
#u7.c {
}
#u7_text.c {
}
#u7 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u8.c {
}
#u8_img.c {
}
#u8.c {
}
#u8_img.c.mouseOver {
}
#u8.c.mouseOver {
}
#u8_text.c {
}
#u8 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u9.c {
}
#u9_img.c {
}
#u9.c {
}
#u9_text.c {
}
#u9 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u10.c {
}
#u10_img.c {
}
#u10.c {
}
#u10_text.c {
}
#u10 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u11.c {
}
#u11_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.c {
}
#u11_div.mouseOver.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.c.mouseOver {
}
#u11_text.c {
}
#u11 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u12.c {
}
#u12_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.c {
}
#u12_div.mouseOver.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.c.mouseOver {
}
#u12_text.c {
}
#u12 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u13.c {
}
#u13_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:64px;
  background:inherit;
  background-color:rgba(152, 199, 240, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(85, 116, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u13.c {
}
#u13_text.c {
}
#u13 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u14.c {
}
#u14_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14.c {
}
#u14_text.c {
}
#u14 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u15.c {
}
#u15_img.c {
}
#u15.c {
}
#u15_img.c.mouseOver {
}
#u15.c.mouseOver {
}
#u15_text.c {
}
#u15 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u16.c {
}
#u16_img.c {
}
#u16.c {
}
#u16_img.c.mouseOver {
}
#u16.c.mouseOver {
}
#u16_img.c.selected {
}
#u16.c.selected {
}
#u16_text.c {
}
#u16 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u17.c {
}
#u17_img.c {
}
#u17.c {
}
#u17_img.c.mouseOver {
}
#u17.c.mouseOver {
}
#u17_text.c {
}
#u17 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u18.c {
}
#u18_img.c {
}
#u18.c {
}
#u18_img.c.mouseOver {
}
#u18.c.mouseOver {
}
#u18_text.c {
}
#u18 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.d {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.d {
}
#u0_img.d {
}
#u0.d {
}
#u0_text.d {
}
#u0 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1.d {
}
#u1_img.d {
}
#u1.d {
}
#u1_text.d {
}
#u1 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2.d {
}
#u2_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
  color:#000000;
}
#u2.d {
}
#u2_text.d {
}
#u2 .text.d {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u3.d {
}
#u3_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3.d {
}
#u3_text.d {
}
#u3 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u4.d {
}
#u4_img.d {
}
#u4.d {
}
#u4_img.d.mouseOver {
}
#u4.d.mouseOver {
}
#u4_text.d {
}
#u4 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u5.d {
}
#u5_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u5.d {
}
#u5_text.d {
}
#u5 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u6.d {
}
#u6_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6.d {
}
#u6_text.d {
}
#u6 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u7.d {
}
#u7_img.d {
}
#u7.d {
}
#u7_text.d {
}
#u7 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u8.d {
}
#u8_img.d {
}
#u8.d {
}
#u8_img.d.mouseOver {
}
#u8.d.mouseOver {
}
#u8_text.d {
}
#u8 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u9.d {
}
#u9_img.d {
}
#u9.d {
}
#u9_text.d {
}
#u9 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u10.d {
}
#u10_img.d {
}
#u10.d {
}
#u10_text.d {
}
#u10 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u11.d {
}
#u11_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.d {
}
#u11_div.mouseOver.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.d.mouseOver {
}
#u11_text.d {
}
#u11 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u12.d {
}
#u12_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.d {
}
#u12_div.mouseOver.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.d.mouseOver {
}
#u12_text.d {
}
#u12 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u13.d {
}
#u13_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:64px;
  background:inherit;
  background-color:rgba(152, 199, 240, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(85, 116, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u13.d {
}
#u13_text.d {
}
#u13 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u14.d {
}
#u14_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14.d {
}
#u14_text.d {
}
#u14 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u15.d {
}
#u15_img.d {
}
#u15.d {
}
#u15_img.d.mouseOver {
}
#u15.d.mouseOver {
}
#u15_text.d {
}
#u15 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u16.d {
}
#u16_img.d {
}
#u16.d {
}
#u16_img.d.mouseOver {
}
#u16.d.mouseOver {
}
#u16_img.d.selected {
}
#u16.d.selected {
}
#u16_text.d {
}
#u16 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u17.d {
}
#u17_img.d {
}
#u17.d {
}
#u17_img.d.mouseOver {
}
#u17.d.mouseOver {
}
#u17_text.d {
}
#u17 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u18.d {
}
#u18_img.d {
}
#u18.d {
}
#u18_img.d.mouseOver {
}
#u18.d.mouseOver {
}
#u18_text.d {
}
#u18 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.e {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.e {
}
#u0_img.e {
}
#u0.e {
}
#u0_text.e {
}
#u0 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1.e {
}
#u1_img.e {
}
#u1.e {
}
#u1_text.e {
}
#u1 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2.e {
}
#u2_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
  color:#000000;
}
#u2.e {
}
#u2_text.e {
}
#u2 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u3.e {
}
#u3_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3.e {
}
#u3_text.e {
}
#u3 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u4.e {
}
#u4_img.e {
}
#u4.e {
}
#u4_img.e.mouseOver {
}
#u4.e.mouseOver {
}
#u4_text.e {
}
#u4 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u5.e {
}
#u5_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u5.e {
}
#u5_text.e {
}
#u5 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u6.e {
}
#u6_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6.e {
}
#u6_text.e {
}
#u6 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u7.e {
}
#u7_img.e {
}
#u7.e {
}
#u7_text.e {
}
#u7 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u8.e {
}
#u8_img.e {
}
#u8.e {
}
#u8_img.e.mouseOver {
}
#u8.e.mouseOver {
}
#u8_text.e {
}
#u8 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u9.e {
}
#u9_img.e {
}
#u9.e {
}
#u9_text.e {
}
#u9 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u10.e {
}
#u10_img.e {
}
#u10.e {
}
#u10_text.e {
}
#u10 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u11.e {
}
#u11_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.e {
}
#u11_div.mouseOver.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.e.mouseOver {
}
#u11_text.e {
}
#u11 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u12.e {
}
#u12_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.e {
}
#u12_div.mouseOver.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.e.mouseOver {
}
#u12_text.e {
}
#u12 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u13.e {
}
#u13_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:64px;
  background:inherit;
  background-color:rgba(152, 199, 240, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(85, 116, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u13.e {
}
#u13_text.e {
}
#u13 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u14.e {
}
#u14_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14.e {
}
#u14_text.e {
}
#u14 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u15.e {
}
#u15_img.e {
}
#u15.e {
}
#u15_img.e.mouseOver {
}
#u15.e.mouseOver {
}
#u15_text.e {
}
#u15 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u16.e {
}
#u16_img.e {
}
#u16.e {
}
#u16_img.e.mouseOver {
}
#u16.e.mouseOver {
}
#u16_img.e.selected {
}
#u16.e.selected {
}
#u16_text.e {
}
#u16 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u17.e {
}
#u17_img.e {
}
#u17.e {
}
#u17_img.e.mouseOver {
}
#u17.e.mouseOver {
}
#u17_text.e {
}
#u17 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u18.e {
}
#u18_img.e {
}
#u18.e {
}
#u18_img.e.mouseOver {
}
#u18.e.mouseOver {
}
#u18_text.e {
}
#u18 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.f {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.f {
}
#u0_img.f {
}
#u0.f {
}
#u0_text.f {
}
#u0 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1.f {
}
#u1_img.f {
}
#u1.f {
}
#u1_text.f {
}
#u1 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2.f {
}
#u2_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
  color:#000000;
}
#u2.f {
}
#u2_text.f {
}
#u2 .text.f {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u3.f {
}
#u3_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3.f {
}
#u3_text.f {
}
#u3 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u4.f {
}
#u4_img.f {
}
#u4.f {
}
#u4_img.f.mouseOver {
}
#u4.f.mouseOver {
}
#u4_text.f {
}
#u4 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u5.f {
}
#u5_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u5.f {
}
#u5_text.f {
}
#u5 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u6.f {
}
#u6_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6.f {
}
#u6_text.f {
}
#u6 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u7.f {
}
#u7_img.f {
}
#u7.f {
}
#u7_text.f {
}
#u7 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u8.f {
}
#u8_img.f {
}
#u8.f {
}
#u8_img.f.mouseOver {
}
#u8.f.mouseOver {
}
#u8_text.f {
}
#u8 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u9.f {
}
#u9_img.f {
}
#u9.f {
}
#u9_text.f {
}
#u9 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u10.f {
}
#u10_img.f {
}
#u10.f {
}
#u10_text.f {
}
#u10 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u11.f {
}
#u11_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.f {
}
#u11_div.mouseOver.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:65px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u11.f.mouseOver {
}
#u11_text.f {
}
#u11 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u12.f {
}
#u12_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.f {
}
#u12_div.mouseOver.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:84px;
  background:inherit;
  background-color:rgba(184, 172, 255, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u12.f.mouseOver {
}
#u12_text.f {
}
#u12 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u13.f {
}
#u13_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:64px;
  background:inherit;
  background-color:rgba(152, 199, 240, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(85, 116, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u13.f {
}
#u13_text.f {
}
#u13 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u14.f {
}
#u14_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14.f {
}
#u14_text.f {
}
#u14 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u15.f {
}
#u15_img.f {
}
#u15.f {
}
#u15_img.f.mouseOver {
}
#u15.f.mouseOver {
}
#u15_text.f {
}
#u15 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u16.f {
}
#u16_img.f {
}
#u16.f {
}
#u16_img.f.mouseOver {
}
#u16.f.mouseOver {
}
#u16_img.f.selected {
}
#u16.f.selected {
}
#u16_text.f {
}
#u16 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u17.f {
}
#u17_img.f {
}
#u17.f {
}
#u17_img.f.mouseOver {
}
#u17.f.mouseOver {
}
#u17_text.f {
}
#u17 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u18.f {
}
#u18_img.f {
}
#u18.f {
}
#u18_img.f.mouseOver {
}
#u18.f.mouseOver {
}
#u18_text.f {
}
#u18 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
