body {
  margin:0px;
  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:643px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:60px;
  width:636px;
  height:643px;
  display:flex;
}
#u463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:317px;
  width:394px;
  height:170px;
  display:flex;
  font-size:40px;
  color:#000000;
}
#u464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:7px;
  width:193px;
  height:91px;
  display:flex;
}
#u465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
}
#u466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u466_img.mouseOver {
}
#u466.mouseOver {
  opacity:0.7;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:215px;
  width:99px;
  height:379px;
  display:flex;
}
#u467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:412px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:664px;
  width:387px;
  height:99px;
  display:flex;
}
#u469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:644px;
  width:287px;
  height:79px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.mouseOver {
  opacity:0.7;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:508px;
  width:79px;
  height:79px;
  display:flex;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u474_img.mouseOver {
}
#u474.mouseOver {
  opacity:0.7;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_img.mouseOver {
}
#u475.mouseOver {
  opacity:0.7;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:116px;
  width:140px;
  height:51px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:193px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-23px;
  width:200px;
  height:193px;
  display:flex;
  opacity:0.6;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:317px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:221px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_img.mouseOver {
}
#u480.mouseOver {
  opacity:0.7;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u463.a {
}
#u463_img.a {
}
#u463.a {
}
#u463_text.a {
}
#u463 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u464.a {
}
#u464_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u464.a {
}
#u464_text.a {
}
#u464 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u465.a {
}
#u465_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465.a {
}
#u465_text.a {
}
#u465 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u466.a {
}
#u466_img.a {
}
#u466.a {
}
#u466_img.a.mouseOver {
}
#u466.a.mouseOver {
}
#u466_text.a {
}
#u466 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u467.a {
}
#u467_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467.a {
}
#u467_text.a {
}
#u467 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u468.a {
}
#u468_img.a {
}
#u468.a {
}
#u468_text.a {
}
#u468 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u469.a {
}
#u469_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469.a {
}
#u469_text.a {
}
#u469 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u470.a {
}
#u470_img.a {
}
#u470.a {
}
#u470_text.a {
}
#u470 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u471.a {
}
#u471_img.a {
}
#u471.a {
}
#u471_text.a {
}
#u471 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u472.a {
}
#u472_img.a {
}
#u472.a {
}
#u472_text.a {
}
#u472 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u473.a {
}
#u473_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.a {
}
#u473_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.a.mouseOver {
}
#u473_text.a {
}
#u473 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u474.a {
}
#u474_img.a {
}
#u474.a {
}
#u474_img.a.mouseOver {
}
#u474.a.mouseOver {
}
#u474_text.a {
}
#u474 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u475.a {
}
#u475_img.a {
}
#u475.a {
}
#u475_img.a.mouseOver {
}
#u475.a.mouseOver {
}
#u475_text.a {
}
#u475 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u476.a {
}
#u476_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u476.a {
}
#u476_text.a {
}
#u476 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u477.a {
}
#u477_img.a {
}
#u477.a {
}
#u477_text.a {
}
#u477 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u478.a {
}
#u478_img.a {
}
#u478.a {
}
#u478_text.a {
}
#u478 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u479.a {
}
#u479_img.a {
}
#u479.a {
}
#u479_text.a {
}
#u479 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u480.a {
}
#u480_img.a {
}
#u480.a {
}
#u480_img.a.mouseOver {
}
#u480.a.mouseOver {
}
#u480_text.a {
}
#u480 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.b {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u463.b {
}
#u463_img.b {
}
#u463.b {
}
#u463_text.b {
}
#u463 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u464.b {
}
#u464_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u464.b {
}
#u464_text.b {
}
#u464 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u465.b {
}
#u465_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465.b {
}
#u465_text.b {
}
#u465 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u466.b {
}
#u466_img.b {
}
#u466.b {
}
#u466_img.b.mouseOver {
}
#u466.b.mouseOver {
}
#u466_text.b {
}
#u466 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u467.b {
}
#u467_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467.b {
}
#u467_text.b {
}
#u467 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u468.b {
}
#u468_img.b {
}
#u468.b {
}
#u468_text.b {
}
#u468 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u469.b {
}
#u469_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469.b {
}
#u469_text.b {
}
#u469 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u470.b {
}
#u470_img.b {
}
#u470.b {
}
#u470_text.b {
}
#u470 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u471.b {
}
#u471_img.b {
}
#u471.b {
}
#u471_text.b {
}
#u471 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u472.b {
}
#u472_img.b {
}
#u472.b {
}
#u472_text.b {
}
#u472 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u473.b {
}
#u473_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.b {
}
#u473_div.mouseOver.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.b.mouseOver {
}
#u473_text.b {
}
#u473 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u474.b {
}
#u474_img.b {
}
#u474.b {
}
#u474_img.b.mouseOver {
}
#u474.b.mouseOver {
}
#u474_text.b {
}
#u474 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u475.b {
}
#u475_img.b {
}
#u475.b {
}
#u475_img.b.mouseOver {
}
#u475.b.mouseOver {
}
#u475_text.b {
}
#u475 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u476.b {
}
#u476_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u476.b {
}
#u476_text.b {
}
#u476 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u477.b {
}
#u477_img.b {
}
#u477.b {
}
#u477_text.b {
}
#u477 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u478.b {
}
#u478_img.b {
}
#u478.b {
}
#u478_text.b {
}
#u478 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u479.b {
}
#u479_img.b {
}
#u479.b {
}
#u479_text.b {
}
#u479 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u480.b {
}
#u480_img.b {
}
#u480.b {
}
#u480_img.b.mouseOver {
}
#u480.b.mouseOver {
}
#u480_text.b {
}
#u480 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.c {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u463.c {
}
#u463_img.c {
}
#u463.c {
}
#u463_text.c {
}
#u463 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u464.c {
}
#u464_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u464.c {
}
#u464_text.c {
}
#u464 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u465.c {
}
#u465_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465.c {
}
#u465_text.c {
}
#u465 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u466.c {
}
#u466_img.c {
}
#u466.c {
}
#u466_img.c.mouseOver {
}
#u466.c.mouseOver {
}
#u466_text.c {
}
#u466 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u467.c {
}
#u467_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467.c {
}
#u467_text.c {
}
#u467 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u468.c {
}
#u468_img.c {
}
#u468.c {
}
#u468_text.c {
}
#u468 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u469.c {
}
#u469_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469.c {
}
#u469_text.c {
}
#u469 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u470.c {
}
#u470_img.c {
}
#u470.c {
}
#u470_text.c {
}
#u470 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u471.c {
}
#u471_img.c {
}
#u471.c {
}
#u471_text.c {
}
#u471 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u472.c {
}
#u472_img.c {
}
#u472.c {
}
#u472_text.c {
}
#u472 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u473.c {
}
#u473_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.c {
}
#u473_div.mouseOver.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.c.mouseOver {
}
#u473_text.c {
}
#u473 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u474.c {
}
#u474_img.c {
}
#u474.c {
}
#u474_img.c.mouseOver {
}
#u474.c.mouseOver {
}
#u474_text.c {
}
#u474 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u475.c {
}
#u475_img.c {
}
#u475.c {
}
#u475_img.c.mouseOver {
}
#u475.c.mouseOver {
}
#u475_text.c {
}
#u475 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u476.c {
}
#u476_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u476.c {
}
#u476_text.c {
}
#u476 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u477.c {
}
#u477_img.c {
}
#u477.c {
}
#u477_text.c {
}
#u477 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u478.c {
}
#u478_img.c {
}
#u478.c {
}
#u478_text.c {
}
#u478 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u479.c {
}
#u479_img.c {
}
#u479.c {
}
#u479_text.c {
}
#u479 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u480.c {
}
#u480_img.c {
}
#u480.c {
}
#u480_img.c.mouseOver {
}
#u480.c.mouseOver {
}
#u480_text.c {
}
#u480 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.d {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u463.d {
}
#u463_img.d {
}
#u463.d {
}
#u463_text.d {
}
#u463 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u464.d {
}
#u464_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u464.d {
}
#u464_text.d {
}
#u464 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u465.d {
}
#u465_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465.d {
}
#u465_text.d {
}
#u465 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u466.d {
}
#u466_img.d {
}
#u466.d {
}
#u466_img.d.mouseOver {
}
#u466.d.mouseOver {
}
#u466_text.d {
}
#u466 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u467.d {
}
#u467_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467.d {
}
#u467_text.d {
}
#u467 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u468.d {
}
#u468_img.d {
}
#u468.d {
}
#u468_text.d {
}
#u468 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u469.d {
}
#u469_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469.d {
}
#u469_text.d {
}
#u469 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u470.d {
}
#u470_img.d {
}
#u470.d {
}
#u470_text.d {
}
#u470 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u471.d {
}
#u471_img.d {
}
#u471.d {
}
#u471_text.d {
}
#u471 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u472.d {
}
#u472_img.d {
}
#u472.d {
}
#u472_text.d {
}
#u472 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u473.d {
}
#u473_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.d {
}
#u473_div.mouseOver.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.d.mouseOver {
}
#u473_text.d {
}
#u473 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u474.d {
}
#u474_img.d {
}
#u474.d {
}
#u474_img.d.mouseOver {
}
#u474.d.mouseOver {
}
#u474_text.d {
}
#u474 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u475.d {
}
#u475_img.d {
}
#u475.d {
}
#u475_img.d.mouseOver {
}
#u475.d.mouseOver {
}
#u475_text.d {
}
#u475 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u476.d {
}
#u476_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u476.d {
}
#u476_text.d {
}
#u476 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u477.d {
}
#u477_img.d {
}
#u477.d {
}
#u477_text.d {
}
#u477 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u478.d {
}
#u478_img.d {
}
#u478.d {
}
#u478_text.d {
}
#u478 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u479.d {
}
#u479_img.d {
}
#u479.d {
}
#u479_text.d {
}
#u479 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u480.d {
}
#u480_img.d {
}
#u480.d {
}
#u480_img.d.mouseOver {
}
#u480.d.mouseOver {
}
#u480_text.d {
}
#u480 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.e {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u463.e {
}
#u463_img.e {
}
#u463.e {
}
#u463_text.e {
}
#u463 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u464.e {
}
#u464_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u464.e {
}
#u464_text.e {
}
#u464 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u465.e {
}
#u465_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465.e {
}
#u465_text.e {
}
#u465 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u466.e {
}
#u466_img.e {
}
#u466.e {
}
#u466_img.e.mouseOver {
}
#u466.e.mouseOver {
}
#u466_text.e {
}
#u466 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u467.e {
}
#u467_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467.e {
}
#u467_text.e {
}
#u467 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u468.e {
}
#u468_img.e {
}
#u468.e {
}
#u468_text.e {
}
#u468 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u469.e {
}
#u469_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469.e {
}
#u469_text.e {
}
#u469 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u470.e {
}
#u470_img.e {
}
#u470.e {
}
#u470_text.e {
}
#u470 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u471.e {
}
#u471_img.e {
}
#u471.e {
}
#u471_text.e {
}
#u471 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u472.e {
}
#u472_img.e {
}
#u472.e {
}
#u472_text.e {
}
#u472 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u473.e {
}
#u473_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.e {
}
#u473_div.mouseOver.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.e.mouseOver {
}
#u473_text.e {
}
#u473 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u474.e {
}
#u474_img.e {
}
#u474.e {
}
#u474_img.e.mouseOver {
}
#u474.e.mouseOver {
}
#u474_text.e {
}
#u474 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u475.e {
}
#u475_img.e {
}
#u475.e {
}
#u475_img.e.mouseOver {
}
#u475.e.mouseOver {
}
#u475_text.e {
}
#u475 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u476.e {
}
#u476_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u476.e {
}
#u476_text.e {
}
#u476 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u477.e {
}
#u477_img.e {
}
#u477.e {
}
#u477_text.e {
}
#u477 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u478.e {
}
#u478_img.e {
}
#u478.e {
}
#u478_text.e {
}
#u478 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u479.e {
}
#u479_img.e {
}
#u479.e {
}
#u479_text.e {
}
#u479 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u480.e {
}
#u480_img.e {
}
#u480.e {
}
#u480_img.e.mouseOver {
}
#u480.e.mouseOver {
}
#u480_text.e {
}
#u480 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.f {  background-color:rgba(152, 207, 240, 0.517647058823529);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u463.f {
}
#u463_img.f {
}
#u463.f {
}
#u463_text.f {
}
#u463 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u464.f {
}
#u464_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:170px;
  background:inherit;
  background-color:rgba(202, 249, 130, 0.43921568627451);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#000000;
}
#u464.f {
}
#u464_text.f {
}
#u464 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u465.f {
}
#u465_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465.f {
}
#u465_text.f {
}
#u465 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u466.f {
}
#u466_img.f {
}
#u466.f {
}
#u466_img.f.mouseOver {
}
#u466.f.mouseOver {
}
#u466_text.f {
}
#u466 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u467.f {
}
#u467_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467.f {
}
#u467_text.f {
}
#u467 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u468.f {
}
#u468_img.f {
}
#u468.f {
}
#u468_text.f {
}
#u468 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u469.f {
}
#u469_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469.f {
}
#u469_text.f {
}
#u469 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u470.f {
}
#u470_img.f {
}
#u470.f {
}
#u470_text.f {
}
#u470 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u471.f {
}
#u471_img.f {
}
#u471.f {
}
#u471_text.f {
}
#u471 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u472.f {
}
#u472_img.f {
}
#u472.f {
}
#u472_text.f {
}
#u472 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u473.f {
}
#u473_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.f {
}
#u473_div.mouseOver.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:79px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u473.f.mouseOver {
}
#u473_text.f {
}
#u473 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u474.f {
}
#u474_img.f {
}
#u474.f {
}
#u474_img.f.mouseOver {
}
#u474.f.mouseOver {
}
#u474_text.f {
}
#u474 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u475.f {
}
#u475_img.f {
}
#u475.f {
}
#u475_img.f.mouseOver {
}
#u475.f.mouseOver {
}
#u475_text.f {
}
#u475 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u476.f {
}
#u476_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u476.f {
}
#u476_text.f {
}
#u476 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u477.f {
}
#u477_img.f {
}
#u477.f {
}
#u477_text.f {
}
#u477 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u478.f {
}
#u478_img.f {
}
#u478.f {
}
#u478_text.f {
}
#u478 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u479.f {
}
#u479_img.f {
}
#u479.f {
}
#u479_text.f {
}
#u479 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u480.f {
}
#u480_img.f {
}
#u480.f {
}
#u480_img.f.mouseOver {
}
#u480.f.mouseOver {
}
#u480_text.f {
}
#u480 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
