body {
  margin:0px;
  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:699px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:-6px;
  width:691px;
  height:699px;
  display:flex;
  opacity:0.6;
}
#u352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:334px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:323px;
  width:246px;
  height:334px;
  display:flex;
  opacity:0.6;
}
#u353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:178px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:585px;
  width:155px;
  height:178px;
  display:flex;
  opacity:0.6;
}
#u354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:215px;
  width:99px;
  height:379px;
  display:flex;
  opacity:0.6;
}
#u355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:413px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:664px;
  width:387px;
  height:99px;
  display:flex;
  opacity:0.6;
}
#u357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u358_img.mouseOver {
}
#u358.mouseOver {
  opacity:0.7;
}
#u358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u359_img.mouseOver {
}
#u359.mouseOver {
  opacity:0.7;
}
#u359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u360_img.mouseOver {
}
#u360.mouseOver {
  opacity:0.7;
}
#u360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:508px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:193px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-23px;
  width:200px;
  height:193px;
  display:flex;
  opacity:0.6;
}
#u362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:317px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:221px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:671px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u365_img.mouseOver {
}
#u365.mouseOver {
  opacity:0.7;
}
#u365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:7px;
  width:193px;
  height:91px;
  display:flex;
  opacity:0.6;
}
#u366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
  opacity:0.6;
}
#u367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:116px;
  width:140px;
  height:51px;
  display:flex;
  opacity:0.6;
  font-size:18px;
  color:#000000;
}
#u368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:245px;
  width:468px;
  height:269px;
  display:flex;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:13px;
  width:79px;
  height:79px;
  display:flex;
}
#u370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u370_img.mouseOver {
}
#u370.mouseOver {
  opacity:0.7;
}
#u370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u352.a {
}
#u352_img.a {
}
#u352.a {
}
#u352_text.a {
}
#u352 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u353.a {
}
#u353_img.a {
}
#u353.a {
}
#u353_text.a {
}
#u353 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u354.a {
}
#u354_img.a {
}
#u354.a {
}
#u354_text.a {
}
#u354 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u355.a {
}
#u355_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355.a {
}
#u355_text.a {
}
#u355 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u356.a {
}
#u356_img.a {
}
#u356.a {
}
#u356_text.a {
}
#u356 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u357.a {
}
#u357_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357.a {
}
#u357_text.a {
}
#u357 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u358.a {
}
#u358_img.a {
}
#u358.a {
}
#u358_img.a.mouseOver {
}
#u358.a.mouseOver {
}
#u358_text.a {
}
#u358 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u359.a {
}
#u359_img.a {
}
#u359.a {
}
#u359_img.a.mouseOver {
}
#u359.a.mouseOver {
}
#u359_text.a {
}
#u359 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u360.a {
}
#u360_img.a {
}
#u360.a {
}
#u360_img.a.mouseOver {
}
#u360.a.mouseOver {
}
#u360_text.a {
}
#u360 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u361.a {
}
#u361_img.a {
}
#u361.a {
}
#u361_text.a {
}
#u361 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u362.a {
}
#u362_img.a {
}
#u362.a {
}
#u362_text.a {
}
#u362 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u363.a {
}
#u363_img.a {
}
#u363.a {
}
#u363_text.a {
}
#u363 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u364.a {
}
#u364_img.a {
}
#u364.a {
}
#u364_text.a {
}
#u364 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u365.a {
}
#u365_img.a {
}
#u365.a {
}
#u365_img.a.mouseOver {
}
#u365.a.mouseOver {
}
#u365_text.a {
}
#u365 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u366.a {
}
#u366_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366.a {
}
#u366_text.a {
}
#u366 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u367.a {
}
#u367_img.a {
}
#u367.a {
}
#u367_text.a {
}
#u367 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u368.a {
}
#u368_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u368.a {
}
#u368_text.a {
}
#u368 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u369.a {
}
#u369_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u369.a {
}
#u369_text.a {
}
#u369 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u370.a {
}
#u370_img.a {
}
#u370.a {
}
#u370_img.a.mouseOver {
}
#u370.a.mouseOver {
}
#u370_text.a {
}
#u370 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.b {  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u352.b {
}
#u352_img.b {
}
#u352.b {
}
#u352_text.b {
}
#u352 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u353.b {
}
#u353_img.b {
}
#u353.b {
}
#u353_text.b {
}
#u353 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u354.b {
}
#u354_img.b {
}
#u354.b {
}
#u354_text.b {
}
#u354 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u355.b {
}
#u355_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355.b {
}
#u355_text.b {
}
#u355 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u356.b {
}
#u356_img.b {
}
#u356.b {
}
#u356_text.b {
}
#u356 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u357.b {
}
#u357_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357.b {
}
#u357_text.b {
}
#u357 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u358.b {
}
#u358_img.b {
}
#u358.b {
}
#u358_img.b.mouseOver {
}
#u358.b.mouseOver {
}
#u358_text.b {
}
#u358 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u359.b {
}
#u359_img.b {
}
#u359.b {
}
#u359_img.b.mouseOver {
}
#u359.b.mouseOver {
}
#u359_text.b {
}
#u359 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u360.b {
}
#u360_img.b {
}
#u360.b {
}
#u360_img.b.mouseOver {
}
#u360.b.mouseOver {
}
#u360_text.b {
}
#u360 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u361.b {
}
#u361_img.b {
}
#u361.b {
}
#u361_text.b {
}
#u361 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u362.b {
}
#u362_img.b {
}
#u362.b {
}
#u362_text.b {
}
#u362 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u363.b {
}
#u363_img.b {
}
#u363.b {
}
#u363_text.b {
}
#u363 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u364.b {
}
#u364_img.b {
}
#u364.b {
}
#u364_text.b {
}
#u364 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u365.b {
}
#u365_img.b {
}
#u365.b {
}
#u365_img.b.mouseOver {
}
#u365.b.mouseOver {
}
#u365_text.b {
}
#u365 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u366.b {
}
#u366_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366.b {
}
#u366_text.b {
}
#u366 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u367.b {
}
#u367_img.b {
}
#u367.b {
}
#u367_text.b {
}
#u367 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u368.b {
}
#u368_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u368.b {
}
#u368_text.b {
}
#u368 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u369.b {
}
#u369_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u369.b {
}
#u369_text.b {
}
#u369 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u370.b {
}
#u370_img.b {
}
#u370.b {
}
#u370_img.b.mouseOver {
}
#u370.b.mouseOver {
}
#u370_text.b {
}
#u370 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.c {  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u352.c {
}
#u352_img.c {
}
#u352.c {
}
#u352_text.c {
}
#u352 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u353.c {
}
#u353_img.c {
}
#u353.c {
}
#u353_text.c {
}
#u353 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u354.c {
}
#u354_img.c {
}
#u354.c {
}
#u354_text.c {
}
#u354 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u355.c {
}
#u355_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355.c {
}
#u355_text.c {
}
#u355 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u356.c {
}
#u356_img.c {
}
#u356.c {
}
#u356_text.c {
}
#u356 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u357.c {
}
#u357_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357.c {
}
#u357_text.c {
}
#u357 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u358.c {
}
#u358_img.c {
}
#u358.c {
}
#u358_img.c.mouseOver {
}
#u358.c.mouseOver {
}
#u358_text.c {
}
#u358 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u359.c {
}
#u359_img.c {
}
#u359.c {
}
#u359_img.c.mouseOver {
}
#u359.c.mouseOver {
}
#u359_text.c {
}
#u359 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u360.c {
}
#u360_img.c {
}
#u360.c {
}
#u360_img.c.mouseOver {
}
#u360.c.mouseOver {
}
#u360_text.c {
}
#u360 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u361.c {
}
#u361_img.c {
}
#u361.c {
}
#u361_text.c {
}
#u361 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u362.c {
}
#u362_img.c {
}
#u362.c {
}
#u362_text.c {
}
#u362 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u363.c {
}
#u363_img.c {
}
#u363.c {
}
#u363_text.c {
}
#u363 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u364.c {
}
#u364_img.c {
}
#u364.c {
}
#u364_text.c {
}
#u364 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u365.c {
}
#u365_img.c {
}
#u365.c {
}
#u365_img.c.mouseOver {
}
#u365.c.mouseOver {
}
#u365_text.c {
}
#u365 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u366.c {
}
#u366_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366.c {
}
#u366_text.c {
}
#u366 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u367.c {
}
#u367_img.c {
}
#u367.c {
}
#u367_text.c {
}
#u367 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u368.c {
}
#u368_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u368.c {
}
#u368_text.c {
}
#u368 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u369.c {
}
#u369_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u369.c {
}
#u369_text.c {
}
#u369 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u370.c {
}
#u370_img.c {
}
#u370.c {
}
#u370_img.c.mouseOver {
}
#u370.c.mouseOver {
}
#u370_text.c {
}
#u370 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.d {  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u352.d {
}
#u352_img.d {
}
#u352.d {
}
#u352_text.d {
}
#u352 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u353.d {
}
#u353_img.d {
}
#u353.d {
}
#u353_text.d {
}
#u353 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u354.d {
}
#u354_img.d {
}
#u354.d {
}
#u354_text.d {
}
#u354 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u355.d {
}
#u355_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355.d {
}
#u355_text.d {
}
#u355 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u356.d {
}
#u356_img.d {
}
#u356.d {
}
#u356_text.d {
}
#u356 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u357.d {
}
#u357_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357.d {
}
#u357_text.d {
}
#u357 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u358.d {
}
#u358_img.d {
}
#u358.d {
}
#u358_img.d.mouseOver {
}
#u358.d.mouseOver {
}
#u358_text.d {
}
#u358 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u359.d {
}
#u359_img.d {
}
#u359.d {
}
#u359_img.d.mouseOver {
}
#u359.d.mouseOver {
}
#u359_text.d {
}
#u359 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u360.d {
}
#u360_img.d {
}
#u360.d {
}
#u360_img.d.mouseOver {
}
#u360.d.mouseOver {
}
#u360_text.d {
}
#u360 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u361.d {
}
#u361_img.d {
}
#u361.d {
}
#u361_text.d {
}
#u361 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u362.d {
}
#u362_img.d {
}
#u362.d {
}
#u362_text.d {
}
#u362 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u363.d {
}
#u363_img.d {
}
#u363.d {
}
#u363_text.d {
}
#u363 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u364.d {
}
#u364_img.d {
}
#u364.d {
}
#u364_text.d {
}
#u364 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u365.d {
}
#u365_img.d {
}
#u365.d {
}
#u365_img.d.mouseOver {
}
#u365.d.mouseOver {
}
#u365_text.d {
}
#u365 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u366.d {
}
#u366_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366.d {
}
#u366_text.d {
}
#u366 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u367.d {
}
#u367_img.d {
}
#u367.d {
}
#u367_text.d {
}
#u367 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u368.d {
}
#u368_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u368.d {
}
#u368_text.d {
}
#u368 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u369.d {
}
#u369_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u369.d {
}
#u369_text.d {
}
#u369 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u370.d {
}
#u370_img.d {
}
#u370.d {
}
#u370_img.d.mouseOver {
}
#u370.d.mouseOver {
}
#u370_text.d {
}
#u370 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.e {  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u352.e {
}
#u352_img.e {
}
#u352.e {
}
#u352_text.e {
}
#u352 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u353.e {
}
#u353_img.e {
}
#u353.e {
}
#u353_text.e {
}
#u353 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u354.e {
}
#u354_img.e {
}
#u354.e {
}
#u354_text.e {
}
#u354 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u355.e {
}
#u355_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355.e {
}
#u355_text.e {
}
#u355 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u356.e {
}
#u356_img.e {
}
#u356.e {
}
#u356_text.e {
}
#u356 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u357.e {
}
#u357_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357.e {
}
#u357_text.e {
}
#u357 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u358.e {
}
#u358_img.e {
}
#u358.e {
}
#u358_img.e.mouseOver {
}
#u358.e.mouseOver {
}
#u358_text.e {
}
#u358 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u359.e {
}
#u359_img.e {
}
#u359.e {
}
#u359_img.e.mouseOver {
}
#u359.e.mouseOver {
}
#u359_text.e {
}
#u359 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u360.e {
}
#u360_img.e {
}
#u360.e {
}
#u360_img.e.mouseOver {
}
#u360.e.mouseOver {
}
#u360_text.e {
}
#u360 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u361.e {
}
#u361_img.e {
}
#u361.e {
}
#u361_text.e {
}
#u361 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u362.e {
}
#u362_img.e {
}
#u362.e {
}
#u362_text.e {
}
#u362 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u363.e {
}
#u363_img.e {
}
#u363.e {
}
#u363_text.e {
}
#u363 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u364.e {
}
#u364_img.e {
}
#u364.e {
}
#u364_text.e {
}
#u364 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u365.e {
}
#u365_img.e {
}
#u365.e {
}
#u365_img.e.mouseOver {
}
#u365.e.mouseOver {
}
#u365_text.e {
}
#u365 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u366.e {
}
#u366_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366.e {
}
#u366_text.e {
}
#u366 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u367.e {
}
#u367_img.e {
}
#u367.e {
}
#u367_text.e {
}
#u367 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u368.e {
}
#u368_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u368.e {
}
#u368_text.e {
}
#u368 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u369.e {
}
#u369_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u369.e {
}
#u369_text.e {
}
#u369 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u370.e {
}
#u370_img.e {
}
#u370.e {
}
#u370_img.e.mouseOver {
}
#u370.e.mouseOver {
}
#u370_text.e {
}
#u370 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.f {  background-color:rgba(111, 151, 174, 0.52156862745098);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u352.f {
}
#u352_img.f {
}
#u352.f {
}
#u352_text.f {
}
#u352 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u353.f {
}
#u353_img.f {
}
#u353.f {
}
#u353_text.f {
}
#u353 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u354.f {
}
#u354_img.f {
}
#u354.f {
}
#u354_text.f {
}
#u354 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u355.f {
}
#u355_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:379px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355.f {
}
#u355_text.f {
}
#u355 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u356.f {
}
#u356_img.f {
}
#u356.f {
}
#u356_text.f {
}
#u356 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u357.f {
}
#u357_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:99px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357.f {
}
#u357_text.f {
}
#u357 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u358.f {
}
#u358_img.f {
}
#u358.f {
}
#u358_img.f.mouseOver {
}
#u358.f.mouseOver {
}
#u358_text.f {
}
#u358 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u359.f {
}
#u359_img.f {
}
#u359.f {
}
#u359_img.f.mouseOver {
}
#u359.f.mouseOver {
}
#u359_text.f {
}
#u359 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u360.f {
}
#u360_img.f {
}
#u360.f {
}
#u360_img.f.mouseOver {
}
#u360.f.mouseOver {
}
#u360_text.f {
}
#u360 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u361.f {
}
#u361_img.f {
}
#u361.f {
}
#u361_text.f {
}
#u361 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u362.f {
}
#u362_img.f {
}
#u362.f {
}
#u362_text.f {
}
#u362 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u363.f {
}
#u363_img.f {
}
#u363.f {
}
#u363_text.f {
}
#u363 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u364.f {
}
#u364_img.f {
}
#u364.f {
}
#u364_text.f {
}
#u364 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u365.f {
}
#u365_img.f {
}
#u365.f {
}
#u365_img.f.mouseOver {
}
#u365.f.mouseOver {
}
#u365_text.f {
}
#u365 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u366.f {
}
#u366_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:91px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366.f {
}
#u366_text.f {
}
#u366 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u367.f {
}
#u367_img.f {
}
#u367.f {
}
#u367_text.f {
}
#u367 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u368.f {
}
#u368_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u368.f {
}
#u368_text.f {
}
#u368 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u369.f {
}
#u369_div.f {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:269px;
  background:inherit;
  background-color:rgba(246, 247, 170, 1);
  box-sizing:border-box;
  border-width:9px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:43px;
}
#u369.f {
}
#u369_text.f {
}
#u369 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u370.f {
}
#u370_img.f {
}
#u370.f {
}
#u370_img.f.mouseOver {
}
#u370.f.mouseOver {
}
#u370_text.f {
}
#u370 .text.f {
  align-self:center;
  padding:2px 2px 2px 2px;
}
